
   <div id="pan2" class="panel panel-info">
  	<div class="panel-heading"><strong>Клиенты:</strong></div>
  	<div class="panel-body">  		
	 <table id="m2" class="table table-bordered table-condensed table-hover table-striped compact">
	  <thead>
	    <tr>
	      <th>№</th>
		  <th>ФИО</th>
		  <th>Паспорт</th>
		  <th>Дата рождения</th>
		  <th>IDNP</th>
		  <th>Страна</th>			   
		  <th>Адрес</th>
		  <th>E-mail Телефон</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% clients = Client.all %>
	  	<% clients.each do |clitem| %>
		  	<tr>
			  	<td title='Выбрать клиента'>
			  		<button type="button" class="btn btn-info  btn-xs" onclick="myFunction(<%= clitem.id %>)">
			  		   <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
	                </button>
			  	</td>
			  	<td><%= clitem.sname%> <%= clitem.name%> <%= clitem.fname%></td>
			  	<td><%= clitem.pseria %> <%= clitem.dn %></td>
			  	<td><%= clitem.bdate%></td>
			  	<td><%= clitem.idno %></td>
				<td><%= clitem.de %></td>
				<td><%= clitem.address %></td>
				<td><%= clitem.pemail %> <%= clitem.tel %></td>				
		  	</tr> 	
	  	<% end %>  
	  </tbody>
	</table>
   </div> <!--panel-body--> 
  </div> <!--panel--> 
