
<%= include_gon %>
	
<script>
	$(document).ready(function() {
    $('#m2').DataTable( {
        "order": [[ 1, "asc" ],[ 2, "asc" ],[ 3, "asc" ]],
        "language": {
            "lengthMenu": "Отображать _MENU_ строк на странице",
            "zeroRecords": "Ничего не найдено - увы...",
            "info": "Страница _PAGE_ из _PAGES_",
            "infoEmpty": "Нет доступных строк",
            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
            "search": "Поиск",
             paginate: {
                first:      "<<",
                previous:   "<",
                next:       ">",
                last:       ">>"
            }
        },
        "pagingType": "full_numbers"
    } );
} );

  
   function myFunction(a,b) 
    {  
	    var text = a;   
	    $("#client_id").val(a);
	    $("#client_info").val(b);
    }

  $(function() {
    $("#pan1").toggle()
    $("#rem2").toggle()
    $("#clname").attr('disabled', 'disabled');    
  });
  
  $(function() {
  $("#rem1").change( function() {
    $("#pan1").toggle()
    $("#pan2").toggle()
    $("#lrem2").toggle()
    $("#rem2").toggle()
    $("#pser").toggle()
    $("#clname").toggle()
    $("#lclinf").toggle()
    $("#client_info").toggle()
  });
  });
  
  $(function() {
  $("#rem2").change( function() {
    $("#pan2").toggle()
    $("#lrem1").toggle()
    $("#lclinf").toggle()
    $("#client_info").toggle()
    $("#rem1").toggle()
    $("#pser").toggle()
  });
  });
  
  function disableElements()
  {
   document.getElementById("#clname").disabled=true;
  }
  
   function calcPeriod(flag){  
             if ( ($("#stdate").val()) && ($("#enddate").val()) && ((flag == 0) || (flag == 1)) && (flag != 3) ) 
             {
             	var x = new Date($("#stdate").val());
                var y = new Date($("#enddate").val());
	            var ddt = (y - x) / (1000 * 60 * 60 * 24);
	            if (ddt < 0) { 
	            	ddt = 0;
	            }	             
	            $("#dperiod").val(ddt);
             }    
             else if ( ($("#stdate").val()) && ($("#dperiod").val()) && ((flag == 0) || (flag == 3)) ) 
             {
                var z = Number($("#dperiod").val());
                var x = new Date($("#stdate").val());             
                var dd = x.getDate() + z;
                x.setDate(dd);
                var yyyy = x.getFullYear();
                var mm = x.getMonth() + 1;
                dd = x.getDate();
                mm = (mm < 10 ? "0" + mm:mm);
			    dd = (dd < 10 ? "0" + dd:dd);	
                if (yyyy && mm && dd) {             
                	$("#enddate").val(String(yyyy) + '-' + String(mm) + '-'+ String(dd));
                }               	
             } 
             else if ( ($("#enddate").val()) && ($("#dperiod").val()) && ((flag == 1) || (flag == 3)) )
             {
                var z = Number($("#dperiod").val());
                var x = new Date($("#enddate").val());             
                var dd = x.getDate() - z;
                x.setDate(dd);
                var yyyy = x.getFullYear();
                var mm = x.getMonth() + 1;
                dd = x.getDate();
                mm = (mm < 10 ? "0" + mm:mm);
			    dd = (dd < 10 ? "0" + dd:dd);	
                if (yyyy && mm && dd) {             
                	$("stdate").val(String(yyyy) + '-' + String(mm) + '-'+ String(dd));
                }             	
             }                        	            
   };
 
   function priceperday(){
        var car = $("#car_id").val();
        var cars = gon.cars;
        var price = 0;
        var flag = 0;   
        for (var i = 0; i < cars.length; i++) {
           if (cars[i].id == car) 
           {
           	  if (($("#dperiod").val()) || ($("#dperiod").val() == 0) ) {
           	  	  var periodlength = $("#dperiod").val();
	           	  if ((cars[i].int1price) && (cars[i].int1) && (flag == 0)) {
	           	  	price = cars[i].int1price;
	           	  	if (periodlength <= cars[i].int1) {
	           	  		flag = 1;
	           	  	} 
	           	  }	 
	           	  if ((cars[i].int2price) && (cars[i].int2) && (flag == 0)) {
	           	  	price = cars[i].int2price;
	           	  	if (periodlength <= cars[i].int2) {
	           	  		flag = 1;
	           	  	} 
	           	  }	 
	           	  if ((cars[i].int3price) && (cars[i].int3) && (flag == 0)) {
	           	  	price = cars[i].int3price;
	           	  	if (periodlength <= cars[i].int3) {
	           	  		flag = 1;
	           	  	} 
	           	  }	 
	           	  if ((cars[i].int4price) && (cars[i].int4) && (flag == 0)) {
	           	  	price = cars[i].int4price;
	           	  	if (periodlength <= cars[i].int4) {
	           	  		flag = 1;
	           	  	} 
	           	  }	 
	           	  if ((cars[i].int5price) && (cars[i].int5) && (flag == 0)) {
	           	  	price = cars[i].int5price;
	           	  	if (periodlength <= cars[i].int5) {
	           	  		flag = 1;
	           	  	} 
	           	  }	 
	           	  if ((cars[i].int6price) && (cars[i].int6) && (flag == 0)) {
	           	  	price = cars[i].int6price;
	           	  	if (periodlength <= cars[i].int6) {
	           	  		flag = 1;
	           	  	} 
	           	  }
	           	  if ((cars[i].int7price) && (cars[i].int7) && (flag == 0)) {
	           	  	price = cars[i].int7price;
	           	  	if (periodlength <= cars[i].int7) {
	           	  		flag = 1;
	           	  	} 
	           	  }	 
	          }
	          break; 	  
           }
        }             
        $("#price").val(price);	            
   };
   
  function getzalog(){
        var car = $("#car_id").val();
        var cars = gon.cars;
        var zalog = 0;  
        for (var i = 0; i < cars.length; i++) {
           if (cars[i].id == car) 
           {
	           if (cars[i].gaj) {
	           	  	zalog = cars[i].gaj;
	           	  }  	  	
	          break; 	  
           }
        }             
        $("#zalog").val(zalog);	            
   };
 
   function getparcurs(){
        var car = $("#car_id").val();
        var wlongs = gon.wlongs;
        var parcurs = null;
        for (var i = 0; i < wlongs.length; i++) {
           if (wlongs[i].car_id == car) 
           {
	          parcurs = wlongs[i].parcurs;	  	
	          break; 	  
           }
        }                      
        $("#parcurs").val(parcurs);	            
   };
 
  function getgarantsum(){
        var car = $("#car_id").val();
        var cars = gon.cars;
        var zalog = 0;  
        for (var i = 0; i < cars.length; i++) {
           if (cars[i].id == car) 
           {
	           if (cars[i].gaj) {
	           	  	zalog = cars[i].gaj;
	           	  }  	  	
	          break; 	  
           }
        }             
        $("#garant_summ").val(zalog);	            
   }; 
     
  function calccontrsum(){
        var summ = 0;
        var costlei = 0;
        if ( ($("#price").val()) && ($("#dperiod").val()) )
        { 
        	summ = ($("#price").val()) * ($("#dperiod").val());
        	if  ($("#curs").val()) 
        	{
        		costlei = (($("#curs").val()) * summ).toFixed(2); 
        	}
        }
        $("#summ").val(summ);
        $("#costlei").val(costlei);             	            
   }; 
   
   function getPriceFromSumm(){
   	    var price = 0;
   	    var costlei = 0;
		if ( ($("#summ").val()) && ($("#dperiod").val()) )
        { 
        	price = (($("#summ").val()) / ($("#dperiod").val())).toFixed(2);
        	if  ($("#curs").val()) 
        	{
        		costlei = (($("#curs").val()) * ($("#summ").val())).toFixed(2); 
        	}
        }
        $("#price").val(price);
        $("#costlei").val(costlei); 	  	
   };
   
   function whenchangeCar(){
   	 getzalog();
   	 getgarantsum();
   	 getparcurs();
   	 priceperday();
   	 calccontrsum();
   };    
 
   function whenchangeDates(flag){
   	 calcPeriod(flag);
   	 priceperday();
   	 calccontrsum();
   }; 
     
  </script>


Click this link to show the current <%= link_to "time", contracts_newbroni_path, remote: true %>.<div id='time_div'></div>

  <%= simple_form_for @contract do |f| %>	
    <div class="row">	  	 	
  	  <div class="panel panel-info">
  	  	<div class="panel-heading"><strong><%= case when (@contract.flag == 1 and @contract.id.nil?) then "Новая бронь" 
  	  		                                        when (@contract.flag == 2 and @contract.id.nil?) then "Новый контракт" 
  	  		                                        when (@contract.flag == 1 and @contract.id) then ("Редактирование брони № #{@contract.id}" + if @contract.cnum!='' then "/#{@contract.cnum}" else "" end) 
  	  		                                        when (@contract.flag == 2 and @contract.id) then ("Редактирование контракта № #{@contract.id}" + if @contract.cnum!='' then "/#{@contract.cnum}" else "" end) 
  	  		                                        else "" end %><%= " от #{@contract.order_date.strftime('%d.%m.%Y')}" %>	                       
  	  	</strong></div>
  	  	<div class="panel-body">

        <div class="row">	  	
		<div class="col-md-6">
		<div class="panel  panel-default">		  	
		<div class="panel-body">  	  		
	    <!-- ручной номер документа -->
    	<%= f.input :cnum, label: "Номер", as: :string, :input_html => { :size => 25} %>
    	<!-- тип контракта 1=бронь -->
    	<%= f.input :flag, :as => :hidden %>   	
    	<!-- клиент -->  	    	
    	<a><label id="lrem1" for="rem_lab"><%= check_box_tag 'active','1',false, :id => "rem1" %>Создать нового клиента </label></a><br>
	    <a><label id="lrem2" for="rem_lab"><%= check_box_tag 'active','0',false, :id => "rem2" %>Клиент</label></a>    	
    	<%= text_field_tag 'client_info', if @contract.client then "#{@contract.client.sname} #{@contract.client.name} #{@contract.client.fname}" end , :readonly => true, class: "form-control" %>	   	
    	<%= f.hidden_field :client_id, :id => "client_id" %>
    	<!-- контроллер-экшн -->
    	<%= hidden_field_tag 'vc' , controller.controller_name %>
    	<%= hidden_field_tag 'va' , controller.action_name %>
        <!-- дата контракта -->
    	<%= f.input :order_date, :as => :hidden %>
    	<%= f.input :user_id, :as => :hidden %>
    	<%= hidden_field_tag 'flag', @contract.flag %>
        <!-- автомобиль --> 
    	<div class="form-group">
          	<label for="car_id" class="control-label">Автомобиль</label>		
    	  	<%= select_tag "car_id", options_for_select(Car.all.collect {|p| [ p.marca + " "+p.gnum, p.id ] }, @contract.car_id), :onchange =>'whenchangeCar();', include_blank: true, class: "form-control" %>
    	</div>
    	<!-- гарант сумма -->
    	<div class="col-md-6"> 
    	<label for="garant_summ" class="control-label"><%= "Гарантийная сумма" %></label>
    	<%= text_field_tag 'garant_summ', @contract.garant_summ, :input_html => { :size => 25}, class: "form-control", :readonly => if @contract.flag == 1 then false else true end %>
    	</div>
    	<!-- залог -->
    	<div class="col-md-6"> 
    	<% if @contract.flag != 1 then %>
    	    <label for="zalog" class="control-label"><%= "Залог, #{$valuta}" %></label>
    		<%= text_field_tag 'zalog', @contract.zalog, class: "form-control" %>
    	<% end %>
    	</div>
    	<!-- пробег на начало -->
    	<% if @contract.flag != 1 then %> 
    	<div class="form-group">
    		<label for="parcurs" class="control-label">Пробег на начало</label>
    		<%= number_field_tag 'parcurs', @parcurs, class: "form-control", :id => "parcurs", class: "form-control" %>
    	</div>
    	<% end %>
    	</div>
		</div>
		</div>    	
 		<div class="col-md-6">
		<div class="panel  panel-default">		  	
		<div class="panel-body">
			
		<div class="col-md-6">	
    	<!-- дата начала -->
    	<div class="form-group">
	    	<label for="stdate" class="control-label">Дата начала аренды</label>
	    	<%= date_field_tag 'stdate', @contract.stdate.to_date, :onchange => "whenchangeDates(0);", class: "form-control" %>
    	</div>
    	</div>
    	<div class="col-md-6">
    	<!-- время начала -->
        <%= f.input :sttime, as: :time ,label: "Время начала аренды" , default: @contract.stdate ? Time.parse(@contract.stdate.strftime('%R')) : Time.parse(Time.now.strftime('%R')) %>
        </div>
    	<div class="col-md-6">
    	<!-- дата конца -->
    	<div class="form-group">
    		<label for="enddate" class="control-label">Дата окончания аренды</label>
    		<%= date_field_tag 'enddate', @contract.enddate.to_date, :onchange => 'whenchangeDates(1);', class: "form-control" %>
    	</div>
    	</div>
    	<div class="col-md-6">
    	<!-- время конца -->
    	<%= f.input :endtime, as: :time ,label: "Время окончания аренды" , default: @contract.enddate ? Time.parse(@contract.enddate.strftime('%R')) : Time.parse(Time.now.strftime('%R')) %> 
    	</div>
    	<!-- ко-во дней -->
    	<div class="form-group">
	  		<%= label_tag 'Кол-во дней' %>
	    	<%= number_field_tag 'dperiod', @contract.dperiod, :onchange =>'whenchangeDates(3);', as: :integer, class: "form-control"  %>
    	</div>
    	<div class="col-md-6">     	   	  	   		
    	<!-- цена -->
    	<div class="form-group">
	    	<%= label_tag "Цена в день, #{$valuta.upcase}" %>
	    	<%= text_field_tag 'price', @contract.price, :readonly => true, class: "form-control"  %>
    	</div>
    	</div>   	
    	<!-- сумма договора в валюте -->
    	<% if @contract.flag != 1 then %>
    	<div class="col-md-6">
    	    <div class="form-group"> 
	    		<%= label_tag "Сумма договора, #{$valuta.upcase}" %>
	    		<%= number_field_tag 'summ', @contract.summ ,:onkeyup =>"getPriceFromSumm();", as: :integer, class: "form-control"  %>
    	    </div>
    	</div>
    	<div class="col-md-6">   
    	    <div class="form-group">
	    		<label for="curs" class="control-label"><%= "Курс, лей" %></label>
	    		<%= number_field_tag 'curs', @contract.curs ? @contract.curs : Cparam.last.curs, as: :decimal, :readonly => true, class: "form-control" %>
    		</div>
    	</div>
    	<div class="col-md-6">	
    		<div class="form-group">
	    		<label for="costlei" class="control-label"><%= "Сумма, лей" %></label>
	    		<%= number_field_tag 'costlei', @contract.costlei, as: :decimal, :readonly => true, class: "form-control" %>
    		</div>
    	</div>	
    	<% end %>
    	</div>
		</div>
		</div>    	
   	    </div>	<!--row-->
	    <center><%= submit_tag('Сохранить', class: "btn btn-primary") %> <%= f.button :submit, "Печать", class: "btn btn-info", name: "printfromedit" %> <%= f.button :submit, "Отмена", class: "btn btn-warning", name: "cancel" %></center>
			
		</div> <!--panel-body--->    
	</div> <!--panel-->
 </div>
 
 <div class="row">
 <%= render 'newclient' %>
 </div>	<!--row-->
 <% end %>
 
 <div class="row">   
 <%= render 'clients' %>
 </div>	<!--row-->

