
<%= include_gon %>
	
<script>
	$(document).ready(function() {
    $('#m2').DataTable( {
        "order": [[ 1, "asc" ],[ 2, "asc" ],[ 3, "asc" ]],
        "language": {
            "lengthMenu": "Отображать _MENU_ строк на странице",
            "zeroRecords": "Ничего не найдено - увы...",
            "info": "Страница _PAGE_ из _PAGES_",
            "infoEmpty": "Нет доступных строк",
            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
            "search": "Поиск",
             paginate: {
                first:      "<<",
                previous:   "<",
                next:       ">",
                last:       ">>"
            }
        },
        "pagingType": "full_numbers"
    } );
} );

  
  $(function() {
    $("#pan1").toggle();
    calcPeriodDesf();
  });
  
  function myFunction(a) {     
	    $("#client_id").val(a);
	    $("#contract_client_id").val(a);
  }
  
  function rem1changed() {
    $("#pan1").toggle();
    $("#pan2").toggle();
    $("#client_info").toggle();
  }
    
   function priceperday() {
        var car = $("#car_id").val();
        var cars = gon.cars;
        var price = 0;
        var flag = 0;   
        for (var i = 0; i < cars.length; i++) {
           if (cars[i].id == car) 
           {
           	  if (($("#dperiod").val()) || ($("#dperiod").val() == 0) ) {
           	  	  var periodlength = $("#dperiod").val();
	           	  if ((cars[i].int1price) && (cars[i].int1) && (flag == 0)) {
	           	  	price = cars[i].int1price;
	           	  	if (periodlength <= cars[i].int1) {
	           	  		flag = 1;
	           	  	} 
	           	  }	 
	           	  if ((cars[i].int2price) && (cars[i].int2) && (flag == 0)) {
	           	  	price = cars[i].int2price;
	           	  	if (periodlength <= cars[i].int2) {
	           	  		flag = 1;
	           	  	} 
	           	  }	 
	           	  if ((cars[i].int3price) && (cars[i].int3) && (flag == 0)) {
	           	  	price = cars[i].int3price;
	           	  	if (periodlength <= cars[i].int3) {
	           	  		flag = 1;
	           	  	} 
	           	  }	 
	           	  if ((cars[i].int4price) && (cars[i].int4) && (flag == 0)) {
	           	  	price = cars[i].int4price;
	           	  	if (periodlength <= cars[i].int4) {
	           	  		flag = 1;
	           	  	} 
	           	  }	 
	           	  if ((cars[i].int5price) && (cars[i].int5) && (flag == 0)) {
	           	  	price = cars[i].int5price;
	           	  	if (periodlength <= cars[i].int5) {
	           	  		flag = 1;
	           	  	} 
	           	  }	 
	           	  if ((cars[i].int6price) && (cars[i].int6) && (flag == 0)) {
	           	  	price = cars[i].int6price;
	           	  	if (periodlength <= cars[i].int6) {
	           	  		flag = 1;
	           	  	} 
	           	  }
	           	  if ((cars[i].int7price) && (cars[i].int7) && (flag == 0)) {
	           	  	price = cars[i].int7price;
	           	  	if (periodlength <= cars[i].int7) {
	           	  		flag = 1;
	           	  	} 
	           	  }	 
	          }
	          break; 	  
           }
        }             
        $("#price").val(price);	            
   }
   
  function getzalog(){
        var car = $("#car_id").val();
        var cars = gon.cars;
        var zalog = 0;  
        for (var i = 0; i < cars.length; i++) {
           if (cars[i].id == car) 
           {
	           if (cars[i].gaj) {
	           	  	zalog = cars[i].gaj;
	           	  }  	  	
	          break; 	  
           }
        }             
        $("#zalog").val(zalog);	            
   }
 
   function getparcurs(){
        var car = $("#car_id").val();
        var wlongs = gon.wlongs;
        var parcurs = null;
        for (var i = 0; i < wlongs.length; i++) {
           if (wlongs[i].car_id == car) 
           {
	          parcurs = wlongs[i].parcurs;	  	
	          break; 	  
           }
        }                      
        $("#parcurs").val(null);
        document.getElementById('lastparcurs').innerHTML = 'Пробег на начало ' + parcurs;	            
   }
 
  function getgarantsum() {
        var car = $("#car_id").val();
        var cars = gon.cars;
        var zalog = 0;  
        for (var i = 0; i < cars.length; i++) {
           if (cars[i].id == car) 
           {
	           if (cars[i].gaj) {
	           	  	zalog = cars[i].gaj;
	           	  }  	  	
	          break; 	  
           }
        }             
        $("#garant_summ").val(zalog);	            
   } 
     
  function calccontrsum() {
        var summ = 0;
        var costlei = 0;
        if ( ($("#price").val()) && ($("#dperiod").val()) )
        { 
        	summ = ($("#price").val()) * ($("#dperiod").val());
        	if  ($("#curs").val()) 
        	{
        		costlei = (($("#curs").val()) * summ).toFixed(2); 
        	}
        }
        $("#summ").val(summ);
        $("#costlei").val(costlei);             	            
   } 
   
   function getPriceFromSumm() {
   	    var price = 0;
   	    var costlei = 0;
		if ( ($("#summ").val()) && ($("#dperiod").val()) )
        { 
        	price = (($("#summ").val()) / ($("#dperiod").val())).toFixed(2);
        	if  ($("#curs").val()) 
        	{
        		costlei = (($("#curs").val()) * ($("#summ").val())).toFixed(2); 
        	}
        }
        $("#price").val(price);
        $("#costlei").val(costlei); 	  	
   }
   
   function whenchangeCar() {
    	var contrFlag = document.getElementById("contract_flag").value;
   	    if (contrFlag == 1) {
   	 	   getgarantsum();
    	}
    	if ((contrFlag == 1) || (contrFlag == 2)) {
   	 	   priceperday();
    	 }
		if (contrFlag == 2) {
	   	 getzalog();
	   	 getparcurs(); 
	   	 calccontrsum();
   	    }
   }    
 
   function whenchangeDates(flag) {
     var contrFlag = document.getElementById("contract_flag").value;
   	 calcPeriod(flag);
   	 priceperday();
   	 if (contrFlag == 2) {
   	     calccontrsum();
   	 }
   }
     
   function timebegChanged(id) {
     if (id == "timebeg_sttime_4i") {
       	document.getElementById("timeend_endtime_4i").value = document.getElementById("timebeg_sttime_4i").value;
       	document.getElementById("timeend_endtime_5i").value = document.getElementById("timebeg_sttime_5i").value;
     }	
     if (id == "timebeg_sttime_5i") {
       	document.getElementById("timeend_endtime_5i").value = document.getElementById("timebeg_sttime_5i").value;
     }
     whenchangeDates(0);   	 
   }  

   function calcPeriod(flag) {  
       if ( ($("#stdate").val()) && ($("#enddate").val()) && ((flag == 0) || (flag == 1)) && (flag != 3) ) {
             	var x = new Date($("#stdate").val());
             	x.setHours(document.getElementById("timebeg_sttime_4i").value);
             	x.setMinutes(document.getElementById("timebeg_sttime_5i").value);
                var y = new Date($("#enddate").val());
             	y.setHours(document.getElementById("timeend_endtime_4i").value);
             	y.setMinutes(document.getElementById("timeend_endtime_5i").value);                
	            var ddt = Math.ceil((y - x) / (1000 * 60 * 60 * 24));
	            if (ddt < 0) { ddt = 0; }                     
	            $("#dperiod").val(ddt);
        } else if ( ($("#stdate").val()) && ($("#dperiod").val()) && ((flag == 0) || (flag == 3)) ) {
                var z = Number($("#dperiod").val());
                var x = new Date($("#stdate").val());          
                var dd = x.getDate() + z;
                x.setDate(dd);        
                $("#enddate").val(convDateForField(x));
                document.getElementById("timeend_endtime_4i").value = document.getElementById("timebeg_sttime_4i").value;
                document.getElementById("timeend_endtime_5i").value = document.getElementById("timebeg_sttime_5i").value;   
        } else if ( ($("#enddate").val()) && ($("#dperiod").val()) && ((flag == 1) || (flag == 3)) ) {
                var z = Number($("#dperiod").val());
                var x = new Date($("#enddate").val());             
                var dd = x.getDate() - z;
                x.setDate(dd);          
                $("stdate").val(convDateForField(x));
                document.getElementById("timebeg_sttime_4i").value = document.getElementById("timeend_endtime_4i").value;
                document.getElementById("timebeg_sttime_5i").value = document.getElementById("timeend_endtime_5i").value;                	
       }
       calcPeriodDesf();                        	            
   }
   
   function calcPeriodDesf() {
      if (($("#stdate").val()) && ($("#enddate").val())) {
             	var x = new Date($("#stdate").val());
             	x.setHours(document.getElementById("timebeg_sttime_4i").value);
             	x.setMinutes(document.getElementById("timebeg_sttime_5i").value);
                var y = new Date($("#enddate").val());
             	y.setHours(document.getElementById("timeend_endtime_4i").value);
             	y.setMinutes(document.getElementById("timeend_endtime_5i").value);                
	            var ddays = Math.floor((y - x) / (1000 * 60 * 60 * 24));
	            var dhours = Math.floor(((y - x) % (1000 * 60 * 60 * 24))/(1000 * 60 * 60));
	            var dmins = Math.floor(((y - x) -  Math.abs(ddays) * (1000 * 60 * 60 * 24) - Math.abs(dhours) * (1000 * 60 * 60))/(1000 * 60));
	            if (y < x) {                     
	            	document.getElementById("dperiodDesf").value = "начальная дата > конечной!!!";
	            } else {
	            	document.getElementById("dperiodDesf").value = "" + ddays + " дн. " + dhours + " ч. " + dmins + " мин.";	
	            }
        }
        else {
        	    document.getElementById("dperiodDesf").value = "";
        }
           	  	
   }	
   
   function convDateForField(x) {
       var yyyy = x.getFullYear();
       var mm = x.getMonth() + 1;
       var dd = x.getDate();
       mm = (mm < 10 ? "0" + mm:mm);
	   dd = (dd < 10 ? "0" + dd:dd);	
       if (yyyy && mm && dd) {             
           return (String(yyyy) + '-' + String(mm) + '-'+ String(dd));
       }
       else {
       	   return null;
       }
   }    
   
   function getClientById(id) {
        var clients = gon.clients;
        var nclients = clients.length;
        var from, ndate, i;   	
        var attrname = id.replace("id", "attributes_");
                document.getElementById(attrname.concat("id")).value = null;
	           	document.getElementById(attrname.concat("sname")).value = null;
	           	document.getElementById(attrname.concat("name")).value = null;
	            //document.getElementById(attrname.concat("sname")).disabled = false;
	           	//document.getElementById(attrname.concat("name")).disabled = false;
	           	document.getElementById(attrname.concat("fname")).value = null;
	           	document.getElementById(attrname.concat("pseria")).value = null;
	           	document.getElementById(attrname.concat("idno")).value = null;
	           	document.getElementById(attrname.concat("de")).value = null;
	           	document.getElementById(attrname.concat("address")).value = null;
	           	document.getElementById(attrname.concat("pemail")).value = null;
	           	document.getElementById(attrname.concat("tel")).value = null;
	           	document.getElementById(attrname.concat("comments")).value = null;
	           	document.getElementById(attrname.concat("bdate")).value = null;
	           	document.getElementById(attrname.concat("dn")).value = null;
        var clientId = document.getElementById(id).value;
        if (clientId) {	           	
	        for (i = 0; i < nclients; i++) {
	           if (clients[i].id == clientId) {
	           	    document.getElementById(attrname.concat("id")).value = clients[i].id;
		           	document.getElementById(attrname.concat("sname")).value = clients[i].sname;
		           	//document.getElementById(attrname.concat("sname")).disabled = true;
		           	document.getElementById(attrname.concat("name")).value = clients[i].name;
		           	//document.getElementById(attrname.concat("name")).disabled = true;
		           	document.getElementById(attrname.concat("fname")).value = clients[i].fname;
		           	document.getElementById(attrname.concat("pseria")).value = clients[i].pseria;
		           	document.getElementById(attrname.concat("idno")).value = clients[i].idno;
		           	document.getElementById(attrname.concat("de")).value = clients[i].de;
		           	document.getElementById(attrname.concat("address")).value = clients[i].address;
		           	document.getElementById(attrname.concat("pemail")).value = clients[i].pemail;
		           	document.getElementById(attrname.concat("tel")).value = clients[i].tel;
		           	document.getElementById(attrname.concat("comments")).value = clients[i].comments;
		           	if (clients[i].bdate) {   
			           	var from = clients[i].bdate.split(".");
			           	var ndate = new Date(from[2], from[1] - 1, from[0]);
			           	document.getElementById(attrname.concat("bdate")).value = convDateForField(ndate);
		           	}
		           	if (clients[i].dn) { 
			           	from = clients[i].dn.split(".");
			           	ndate = new Date(from[2], from[1] - 1, from[0]);
			           	document.getElementById(attrname.concat("dn")).value = convDateForField(ndate);
		           	}
	           	}
	        }
        }
   }        
     
  function makeNewClient(c) {
  	  var attrname = c.concat("_id");
  	  if (c == "client") {
  	      document.getElementById(attrname).value = null;
  	  } 	  
  	  attrname = "contract_".concat(attrname);
  	  document.getElementById(attrname).value = null;
  	  getClientById(attrname);
  }   
     
  </script>


Click this link to show the current <%= link_to "time", contracts_newbroni_path, remote: true %>.<div id='time_div'></div>

  <%= simple_form_for @contract do |f| %>	
    <div class="row">	  	 	
  	  <div class="panel panel-info">
  	  	<div class="panel-heading"><strong><% if controller.action_name != 'show' then %><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
  	  	                                   <% else %><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><% end %>
  	  		                               <%= case when (@contract.flag == 1 and @contract.id.nil?) then "Новая бронь" 
  	  		                                        when (@contract.flag == 2 and @contract.id.nil?) then "Новый контракт" 
  	  		                                        when (@contract.flag == 1 and @contract.id) then (if controller.action_name!='show' then "Редактирование" else "Просмотр" end + " брони № #{@contract.id}" + if @contract.cnum!='' then "/#{@contract.cnum}" else "" end)
  	  		                                        when (@contract.flag == 2 and @contract.id and controller.action_name=='broni2contract') then ("Контракт из брони № #{@contract.id}" + if @contract.cnum!='' then "/#{@contract.cnum}" else "" end) 
  	  		                                        when (@contract.flag == 2 and @contract.id) then (if controller.action_name!='show' then "Редактирование" else "Просмотр" end + " контракта № #{@contract.id}" + if @contract.cnum!='' then "/#{@contract.cnum}" else "" end)
  	  		                                        when (@contract.flag == 3 and @contract.id and controller.action_name=='contract2arh') then ("Закрытие контракта № #{@contract.id}" + if @contract.cnum!='' then "/#{@contract.cnum}" else "" end)  
  	  		                                        when (@contract.flag == 3 and @contract.id) then (if controller.action_name!='show' then "Редактирование" else "Просмотр" end + " закрытого контракта № #{@contract.id}" + if @contract.cnum!='' then "/#{@contract.cnum}" else "" end) 
  	  		                                        else "" end %><%= " от #{@contract.stdate.strftime('%d.%m.%Y')}" %>	                       
  	  	</strong></div>
  	  	<div class="panel-body">

        <div class="row">	  	
		<div class="col-md-6">
		<div class="panel  panel-default">		  	
		<div class="panel-body">
	    <%= f.error_notification %>  	  		
	    <!-- ручной номер документа -->
	    <div class="col-md-6">
    		<%= f.input :cnum, label: "Номер ручной", as: :string, :input_html => { :size => 25}, :readonly => if (@contract.flag == 3  or controller.action_name=='show') then true else false end %>
	    </div>
	    <div class="col-md-6">
	    	<%= f.association :user, label: "Агент", :label_method => lambda { |user| "#{user.username}"}, value_method: :id, include_blank: false, selected: if @contract.user.nil? then current_user.id else @contract.user.id end, :readonly => true %>	
	    </div>    	
    	<!-- тип контракта 1=бронь -->
    	<%= f.input :flag, :as => :hidden %>   	
    	<!-- клиент -->
    	<% if @contract.flag != 3 and controller.action_name!='show' then %>  	    	
    	<a><label id="lrem1" for="rem_lab"><%= check_box_tag 'active','1',false, :id => "rem1", :onchange => "rem1changed()" %>Создать нового клиента </label></a><br>
    	<% end %>  	    		   	
    	<%= f.hidden_field :client_id, :id => "client_id", :input_html => { :onchange => "getClientById(this.id)" } %>
 
        <div id="client_info">
    	<%= f.input :client_id, label: 'Клиент ', :collection => Client.all.order(:sname, :name, :fname), 
				    :label_method => lambda { |client| "#{client.sname}  #{client.name}  #{client.fname} "}, 
				    value_method: :id, include_blank: false, prompt: "Выбрать клиента...", 
				    :readonly => if ((@contract.flag == 1 or @contract.flag == 2) and controller.action_name!='show') then false else true end,
				    :input_html => { :onchange => "getClientById(this.id)" }, required: true %> 		
        <!-----------------------------------------------1b---------------------------------------------->
		<!-- Button trigger modal -->
		<% if @contract.flag != 3 and controller.action_name!='show' then %>
			<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#clientModal" onclick="makeNewClient('client')">Клиент - новый</button>
			<%= link_to 'Клиент - Редактировать', "#", data: {toggle: "modal", target: "#clientModal"}, class: "btn btn-default btn-sm" %>
		<% else %>		
			<%= link_to 'Клиент - Просмотр', "#", data: {toggle: "modal", target: "#clientModal"}, class: "btn btn-default btn-sm" %>
		<% end %>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="clientModalLabel">Клиент</h4>
		      </div>
		      <div class="modal-body">
	  	          <%= f.simple_fields_for(:client) do |fff| %>
                    <%= fff.input :id, as: :integer, as: :hidden %>
					<%= fff.input :sname, label: "Фамилия", as: :string, :input_html => { :size => 25}, :readonly => if (controller.action_name=='show') then true else false end %>
					<%= fff.input :name, label: "Имя", as: :string, :input_html => { :size => 25}, :readonly => if (controller.action_name=='show') then true else false end %>
					<%= fff.input :fname, label: "Отчество", as: :string, :input_html => { :size => 25}, as: :hidden, :readonly => if (controller.action_name=='show') then true else false end %>
					<%= fff.input :pseria, label: "Серия и номер паспорта", as: :string, :input_html => { :size => 25}, :readonly => if (controller.action_name=='show') then true else false end %>
					<div class="col-md-6">
                    <label for='contract_client2_attributes_bdate' class="control-label">Дата рождения</label>
                    <%= date_field_tag 'contract_client_attributes_bdate', if !@contract.client or @contract.client.bdate.nil? then nil else @contract.client.bdate.to_date end, class: "form-control", :readonly => if (controller.action_name=='show') then true else false end %>
                    </div>
                    <div class="col-md-6">
                    <label for='contract_client2_attributes_dn' class="control-label">Дата выдачи паспорта</label>
                    <%= date_field_tag 'contract_client_attributes_dn',if !@contract.client or @contract.client.dn.nil? then nil else @contract.client.dn.to_date end, class: "form-control", :readonly => if (controller.action_name=='show') then true else false end %>
					</div>
					<div class="col-md-6">
					<%= fff.input :idno, label: "IDNP", as: :string, :input_html => { :size => 25}, :readonly => if (controller.action_name=='show') then true else false end %>
					</div>
					<div class="col-md-6">
					<%= fff.input :de, label: "Страна", as: :country, priority: ["MD","RU","UA","RO","IT","GB","DE","FR","ES","NL" ], include_blank: true, :readonly => if (controller.action_name=='show') then true else false end %>
					</div>
					<%= fff.input :address, label: "Адрес", as: :string, :input_html => { :size => 50}, :readonly => if (controller.action_name=='show') then true else false end %>
					<%= fff.input :pemail, label: "E-mail", as: :email, :input_html => { :size => 25}, :readonly => if (controller.action_name=='show') then true else false end %>
					<%= fff.input :tel, label: "Контактный телефон", as: :tel, :input_html => { :size => 25}, :readonly => if (controller.action_name=='show') then true else false end %>
					<%= fff.input :comments, label: "Примечание", as: :text, :input_html => { :size => 50}, :readonly => if (controller.action_name=='show') then true else false end %>	   			  				  	
  			      <% end %> 
		      </div>
		      <div class="modal-footer">
		        <!--<button type="button" class="btn btn-default" data-dismiss="modal" id="clientClosed">Cancel</button>-->
		        <button type="button" class="btn btn-success" data-dismiss="modal" id="clientOk">Закрыть</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-----------------------------------------------1e---------------------------------------------->		    		
				
		
    	<%= f.input :client2_id, label: 'Второй водитель ', :collection => Client.all.order(:sname, :name, :fname), 
				    :label_method => lambda { |client| "#{client.sname}  #{client.name}  #{client.fname} "}, 
				    value_method: :id, include_blank: true, prompt: "Выбрать второго водителя...", 
				    :readonly => if ((@contract.flag == 1 or @contract.flag == 2) and controller.action_name!='show') then false else true end,
				    :input_html => { :onchange => "getClientById(this.id)" }, required: false %> 	
        <!-----------------------------------------------2b---------------------------------------------->
		<!-- Button trigger modal -->
		<% if @contract.flag != 3 and controller.action_name!='show' then %>
			<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" onclick="makeNewClient('client2')">Второй водитель - новый</button>
			<%= link_to 'Второй водитель - Редактировать', "#", data: {toggle: "modal", target: "#myModal"}, class: "btn btn-default btn-sm" %>
		<% else %>
			<%= link_to 'Второй водитель - Просмотр', "#", data: {toggle: "modal", target: "#myModal"}, class: "btn btn-default btn-sm" %>
		<% end %>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Второй водитель</h4>
		      </div>
		      <div class="modal-body">
	  	          <%= f.simple_fields_for(:client2) do |ff| %>
                    <%= ff.input :id, as: :integer, as: :hidden %>
					<%= ff.input :sname, label: "Фамилия", as: :string, :input_html => { :size => 25}, :readonly => if (controller.action_name=='show') then true else false end %>
					<%= ff.input :name, label: "Имя", as: :string, :input_html => { :size => 25}, :readonly => if (controller.action_name=='show') then true else false end %>
					<%= ff.input :fname, label: "Отчество", as: :string, :input_html => { :size => 25}, as: :hidden, :readonly => if (controller.action_name=='show') then true else false end %>
					<%= ff.input :pseria, label: "Серия и номер паспорта", as: :string, :input_html => { :size => 25}, :readonly => if (controller.action_name=='show') then true else false end %>
					<div class="col-md-6">
                    <label for='contract_client2_attributes_bdate' class="control-label">Дата рождения</label>
                    <%= date_field_tag 'contract_client2_attributes_bdate', if !@contract.client2 or @contract.client2.bdate.nil? then nil else @contract.client2.bdate.to_date end, class: "form-control", :readonly => if (controller.action_name=='show') then true else false end %>
                    </div>
                    <div class="col-md-6">
                    <label for='contract_client2_attributes_dn' class="control-label">Дата выдачи паспорта</label>
                    <%= date_field_tag 'contract_client2_attributes_dn',if !@contract.client2 or @contract.client2.dn.nil? then nil else @contract.client2.dn.to_date end, class: "form-control", :readonly => if (controller.action_name=='show') then true else false end %>
					</div>
					<div class="col-md-6">
					<%= ff.input :idno, label: "IDNP", as: :string, :input_html => { :size => 25}, :readonly => if (controller.action_name=='show') then true else false end %>
					</div>
					<div class="col-md-6">
					<%= ff.input :de, label: "Страна", as: :country, priority: ["MD","RU","UA","RO","IT","GB","DE","FR","ES","NL" ], include_blank: true, :readonly => if (controller.action_name=='show') then true else false end %>
					</div>
					<%= ff.input :address, label: "Адрес", as: :string, :input_html => { :size => 50}, :readonly => if (controller.action_name=='show') then true else false end %>
					<%= ff.input :pemail, label: "E-mail", as: :email, :input_html => { :size => 25}, :readonly => if (controller.action_name=='show') then true else false end %>
					<%= ff.input :tel, label: "Контактный телефон", as: :tel, :input_html => { :size => 25}, :readonly => if (controller.action_name=='show') then true else false end %>
					<%= ff.input :comments, label: "Примечание", as: :text, :input_html => { :size => 50}, :readonly => if (controller.action_name=='show') then true else false end %>	   			  				  	
  			      <% end %> 
		      </div>
		      <div class="modal-footer">
		        <!--<button type="button" class="btn btn-default" data-dismiss="modal" id="client2Closed">Cancel</button>-->
		        <button type="button" class="btn btn-success" data-dismiss="modal" id="client2Ok">Закрыть</button>		        
		      </div>
		    </div>
		  </div>
		</div>
		<!-------------------------------------------2e-------------------------------------------------->		    		
		
    	<!-- контроллер-экшн -->
    	<%= hidden_field_tag 'vc' , controller.controller_name %>
    	<%= hidden_field_tag 'va' , controller.action_name %>
        <!-- дата контракта -->
    	<%= f.input :order_date, :as => :hidden %>
    	<%= f.input :user_id, :as => :hidden %>
    	<%= hidden_field_tag 'flag', @contract.flag %>
        <!-- автомобиль --> 
    	<div class="form-group">
          	<label for="car_id" class="control-label">Автомобиль</label>		
    	  	<%= select_tag "car_id", options_for_select(Car.all.collect {|p| [ p.marca + " "+p.gnum, p.id ] }, @contract.car_id), :onchange =>'whenchangeCar();', 
    	  	        include_blank: false, class: "form-control", :readonly => if (@contract.flag != 3  and controller.action_name!='show') then false else true end, prompt: "Выбрать машину..." %>
    	</div>
    	<!-- гарант сумма -->
    	<div class="col-md-6">
    	<% if @contract.flag != 3 then %>	 
    	<label for="garant_summ" class="control-label"><%= "Гарантийная сумма" %></label>
    	<%= text_field_tag 'garant_summ', @contract.garant_summ, :input_html => { :size => 25}, class: "form-control", :readonly => if (@contract.flag == 1  and controller.action_name!='show') then false else true end %>
    	<% end %>
    	</div>
    	<!-- залог -->
    	<div class="col-md-6"> 
    	<% if @contract.flag != 1 then %>
    	    <label for="zalog" class="control-label"><%= "Залог" %></label>
    		<%= text_field_tag 'zalog', @contract.zalog, class: "form-control", :readonly => if (@contract.flag == 3  or controller.action_name=='show') then true else false end %>
    	<% end %>
    	</div>
    	<!-- пробег на начало -->
    	<div class="col-md-6">
    	<% if @contract.flag != 1 then %> 
    	<div class="form-group <%= if !@parcurs then 'has-error' end %>">
    		<label for="parcurs" class="control-label" id='lastparcurs'>Пробег на начало <%= "#{@lastparcurs}" %></label>
    		<%= number_field_tag 'parcurs', @parcurs, class: "form-control", class: "form-control", placeholder: "Введите пробег!!!", :readonly => if (@contract.flag == 3  or controller.action_name=='show') then true else false end %>
    	</div>
    	<% end %>
    	</div>
    	<!-- пробег на конец -->
    	<% if @contract.flag == 3 then %>
    	<div class="col-md-6">   	 
    	<div class="form-group <%= if !@parcurse then 'has-error' end %>">
    		<label for="parcurse" class="control-label" id='lastparcurs'>Пробег на конец</label>
    		<%= number_field_tag 'parcurse', @parcurse, class: "form-control", class: "form-control", placeholder: "Введите пробег!!!", :readonly => if (@contract.flag == 3 and controller.action_name!='show') then false else true end %>
    	</div>
    	</div>
    	<% end %>
    	<!--- место ------->
    	<div class="col-md-6">
    	<%= f.input :place, collection: [['0', 'Аэропорт'], ['1', 'Офис']], label_method: :second, value_method: :first, label: 'Место выдачи машины клиенту', placeholder: 'Выбрать место...', :readonly => if ((@contract.flag == 1 or @contract.flag == 2) and controller.action_name!='show') then false else true end %>
    	</div>
    	</div>
		</div>
		</div>    	
 		<div class="col-md-6">
		<div class="panel  panel-default">		  	
		<div class="panel-body">
			
		<div class="col-md-6">	
    	<!-- дата начала -->
    	<div class="form-group">
	    	<label for="stdate" class="control-label">Дата начала аренды</label>
	    	<%= date_field_tag 'stdate', @contract.stdate.to_date, :onchange => "whenchangeDates(0);", class: "form-control", :readonly => if (@contract.flag == 3  or controller.action_name=='show') then true else false end %>
    	</div>
    	</div>
    	<div class="col-md-6">
    	<!-- время начала -->
    	<%= simple_fields_for :timebeg do |n| %>
        	<%= n.input :sttime, as: :time, label: "Время начала аренды" , default: @contract.stdate ? Time.parse(@contract.stdate.strftime('%R')) : Time.parse(Time.now.strftime('%R')), 
        	    :readonly => if (@contract.flag == 3  or controller.action_name=='show') then true else false end, minute_step: 15,
        	    :input_html => { :onchange => "timebegChanged(this.id)" } %>
        <% end %>
        </div>
    	<div class="col-md-6">
    	<!-- дата конца -->
    	<div class="form-group">
    		<label for="enddate" class="control-label">Дата окончания аренды</label>
    		<%= date_field_tag 'enddate', @contract.enddate.to_date, :onchange => 'whenchangeDates(1);', class: "form-control", :readonly => if (@contract.flag == 3  or controller.action_name=='show') then true else false end %>
    	</div>
    	</div>
    	<div class="col-md-6">
    	<!-- время конца -->
    	<% if @contract.flag then %>
    	<%= simple_fields_for :timeend do |n| %>
    		<%= n.input :endtime, as: :time ,label: "Время окончания аренды" , default: @contract.enddate ? Time.parse(@contract.enddate.strftime('%R')) : Time.parse(Time.now.strftime('%R')), 
    		    :readonly => if (@contract.flag == 3  or controller.action_name=='show') then true else false end, minute_step: 15,
    		    :input_html => { :onchange => "whenchangeDates(0)" } %>
    	<% end %> 
    	<% end %>
    	</div>
    	<% if @contract.flag == 3 then %>
    	<div class="col-md-6">
    	<!-- ф дата конца -->
    	<div class="form-group">
    		<label for="fenddate" class="control-label">Дата окончания аренды (факт)</label>
    		<%= date_field_tag 'fenddate', @contract.fenddate.to_date, :onchange => 'whenchangeDates(1);', class: "form-control", :readonly => if (@contract.flag != 3  or controller.action_name=='show') then true else false end %>
    	</div>
    	</div>    	
    	<div class="col-md-6">
    	<!-- ф время конца -->
    	<%= simple_fields_for :ftimeend do |n| %>
    		<%= n.input :fendtime, as: :time ,label: "Время окончания аренды (факт)" , default: @contract.fenddate ? Time.parse(@contract.fenddate.strftime('%R')) : Time.parse(Time.now.strftime('%R')), :readonly => if (@contract.flag != 3  or controller.action_name=='show') then true else false end, minute_step: 15 %>
    	<% end %> 
    	</div>
    	<% end %>
    	<!-- ко-во дней -->
    	<div class="col-md-6">
    	<div class="form-group">
	  		<label for="dperiod" class="control-label">Количество дней</label>
	    	<%= number_field_tag 'dperiod', @contract.dperiod, :onchange =>'whenchangeDates(3);', as: :integer, class: "form-control", :readonly => if (@contract.flag == 3  or controller.action_name=='show') then true else false end  %>
    	</div>
    	</div>
    	<div class="col-md-6">
    	<div class="form-group">
	    	<%= label_tag "Период без округлений" %>
	    	<%= text_field_tag 'dperiodDesf', nil, :readonly => true, class: "form-control"  %>
    	</div>    		
    	</div> 	
    	<div class="col-md-6">     	   	  	   		
    	<!-- цена -->
    	<div class="form-group">
	    	<%= label_tag "Цена в день, #{$valuta.upcase}" %>
	    	<%= text_field_tag 'price', @contract.price, :readonly => true, class: "form-control"  %>
    	</div>
    	</div>   	
    	<!-- сумма договора в валюте -->
    	<% if @contract.flag != 1 then %>
    	<div class="col-md-6">
    	    <div class="form-group"> 
	    		<%= label_tag "Сумма договора, #{$valuta.upcase}" %>
	    		<%= number_field_tag 'summ', @contract.summ ,:onchange =>"getPriceFromSumm();", as: :integer, class: "form-control", :readonly => if (@contract.flag == 2  and controller.action_name!='show') then false else true end  %>
    	    </div>
    	</div>
    	<div class="col-md-6">   
    	    <div class="form-group">
	    		<label for="curs" class="control-label"><%= "Курс, лей" %></label>
	    		<%= number_field_tag 'curs', @contract.curs ? @contract.curs : Cparam.last.curs, as: :decimal, :readonly => true, class: "form-control" %>
    		</div>
    	</div>
    	<div class="col-md-6">	
    		<div class="form-group">
	    		<label for="costlei" class="control-label"><%= "Сумма, лей" %></label>
	    		<%= number_field_tag 'costlei', @contract.costlei, as: :decimal, :readonly => true, class: "form-control" %>
    		</div>
    	</div>	
    	<% end %>
    	<div class="col-md-12">
    		<%= f.input :comment, label: "Примечание", as: :text, :readonly => if (controller.action_name!='show') then false else true end %>
    	</div>
    	</div>
		</div>
		</div>    	
   	    </div>	<!--row-->
   	    
 		<div class="row">
 		<%= render 'newclient' %>
 		</div>	<!--row-->
 		
	    <center>
	    <% if controller.action_name != 'show' then %>
	    	<%= submit_tag('Сохранить', class: "btn btn-primary") %> <%= f.button :submit, "Печать", class: "btn btn-info", name: "printfromedit" %> <%= f.button :submit, "Отмена", class: "btn btn-warning", name: "cancel" %></center>
		<% else %>
		    <% if @contract.flag == 2 then %><%= f.button :submit, "Закрыть", class: "btn btn-success", name: "close" %><% end %>
			<%= f.button :submit, "Редактировать", class: "btn btn-primary", name: "editfromshow" %> <%= f.button :submit, "Печать", class: "btn btn-info", name: "printfromshow" %> <%= f.button :submit, "Отмена", class: "btn btn-warning", name: "cancel" %></center>
		<% end %>
			
		</div> <!--panel-body--->    
	</div> <!--panel-->
 </div>
 
 <% end %>

<% if (@contract.flag != 3  and controller.action_name!='show') then %> 
 <div class="row">   
 <%= render 'clients' %>
 </div>	<!--row-->
 <% end %>

