<% provide(:title, 'Контракты') %>

<script>
	$(document).ready(function() {
    $('#mcl').DataTable( {
        "order": [[ 2, "desc" ],[ 1, "desc" ]],
        "language": {
            "lengthMenu": "Отображать _MENU_ строк на странице",
            "zeroRecords": "Ничего не найдено - увы...",
            "info": "Страница _PAGE_ из _PAGES_",
            "infoEmpty": "Нет доступных строк",
            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
            "search": "Поиск",
             paginate: {
                first:      "<<",
                previous:   "<",
                next:       ">",
                last:       ">>"
            }
        },
        "pagingType": "full_numbers"
    } );
} );
</script>

  <div class="table-responsive">	
	<table id="mcl" class="table table-bordered table-condensed table-hover table-striped">	
		<small>
		<thead>
			<tr  class="info">
			   <th>.......</th>	
			   <th>№</th>
		<!--   <th>От</th>  -->
			   <th>Aгент</th>
			   <th>Автомобиль</th>
			   <th width=20%>Период</th>
		<!--   <th width=2%>Гар. сумма</th> -->
			   <th>Залог, <% if $valuta.upcase=='EUR' then %>&euro;<% else %><%= "#{$valuta}" %><% end %></th>
			   <th>Цена в день</th>
			   <th>Сумма</th>
			   <th>Клиент</th>
			   <th>Пробег</br> на начало</th>			   
			</tr>	
		</thead>
		<tbody>
			<% @contracts.each do |c| %>
					<% if c.updated_at > (Time.now.ago($GreenDelay)) %><tr class="success"><% else %><tr><% end %>
						<td><%= link_to " " , contracts_show_path(:id => c.id),:method => :get, :class=> "glyphicon glyphicon-eye-open", :title => 'Посмотреть контракт' %>							
							<%= link_to " " , contracts_edit_path(:id => c.id),:method => :get, :class=> "glyphicon glyphicon-pencil", :title => 'Редактировать контракт' %>
							<%= link_to image_tag('Apps-Pdf-B-icon.png', :alt => "PDF", :width => "20", :height => "20"), contracts_show_path(:id => c.id, format: "pdf") %>
							<%= link_to " " , contracts_destroy_path(:id => c.id),:method => :get, :class=> "glyphicon glyphicon-remove", :title => 'Удалить контакт', data: { confirm: "Удалить контракт #{c.id}/#{c.cnum} от #{c.order_date.strftime('%d.%m.%Y')}?" } %>
                        </td>						
						<td><%= "#{c.id}/#{c.cnum}" %></td>
				<!--	<td><%= c.order_date.strftime('%Y.%m.%d') %></td>  -->
						<td><%= unless c.user.nil? then c.user.username end %></td>
						<td><%= unless c.car.nil? then "#{c.car.marca} #{c.car.gnum}" end %></td>
						<td><%= "#{c.stdate.strftime('%d.%m.%Y_%R')}" %></br><%= "#{c.enddate.strftime('%d.%m.%Y_%R')}" %></br>
						        <%= if c.dperiod then "#{c.dperiod} " +  
						        	  (case c.dperiod when 1 then "день" when 2 then "дня" when 3 then "дня" when 4 then "дня" else "дней" end) end %></td>
				<!--	<td><%= number_to_currency(c.garant_summ,:unit=>'€', precision: 0) %></td>  -->
						<td><%= number_to_currency(c.zalog,:unit=>'€', precision: 0) %></td>
						<td><%= number_to_currency(c.price,:unit=>'€', precision: 0) %></td>
						<td><%= number_to_currency(c.summ,:unit=>'€', precision: 0, separator: ".", delimiter: "") %>  x <%= "#{c.curs} MDL" %> = <%= "#{c.costlei} MDL" %></td>
						<td><%= unless c.client.nil? then "#{c.client.id} #{c.client.sname} #{c.client.name} #{c.client.fname} #{c.client.tel} #{c.client.pemail}" end %></td>
						<td><%= if Wlong.where("(car_id = ? AND wdate = ?)", c.car_id, c.stdate).count!=0 then Wlong.where("(car_id = ? AND wdate = ?)", c.car_id, c.stdate).order(:updated_at).last.parcurs end %></td>					
					</tr>		
			<% end %>			
		</tbody>
		</small>
	</table>
  </div>
