<% provide(:title, 'Курс') %>

<% if current_user.superadmin_role? || current_user.supervisor_role? %>
  <div class="row">	  	
	<div class="col-md-4">	    	    
  	  <div class="panel panel-info">
  	  	<div class="panel-heading"><strong>Новый курс:</strong></div>
  	  	<div class="panel-body">
		<%= simple_form_for(:cparam, url: cparams_path, html: { class: 'form-inline' }) do |f| %>
		  <%= f.input :curs, label: "Курс #{$valuta}", placeholder: @cparam, as: :decimal %><br><br>
		  <div  align="center"><%= button_tag "Сохранить", type: 'submit', class: "btn btn-primary glyphicon glyphicon-ok pull-center" %>
		  	                   <%= button_tag "Домой", type: 'submit', class: "btn btn-warning glyphicon glyphicon-home pull-center", name: "cancel" %>  
          </div>  
		<% end %>
	  </div> <!--panel-body--->    
	 </div> <!--panel-->
   </div>
 </div>
 <% end %>	
 
<script>
$(document).ready(function() {
    var t = $('#pstable').DataTable( {
        "order": [[ 2, "desc" ]],
        "language": {
            "lengthMenu": "Отображать _MENU_ строк на странице",
            "zeroRecords": "Ничего не найдено - увы...",
            "info": "Страница _PAGE_ из _PAGES_",
            "infoEmpty": "Нет доступных строк",
            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
            "search": "Поиск",
             paginate: {
                first:      "<<",
                previous:   "<",
                next:       ">",
                last:       ">>"
            }
        },
        "pagingType": "full_numbers",
        "pageLength": 10,
         "fixedHeader": {
               headerOffset: ($('#navMenu').outerHeight() - 1)
         },
         responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
            }, {
            "searchable": false,
            "orderable": false,
            "targets": 1
            },
         { type: 'de_datetime', targets: 2 }
         ]      
    } ); 
    
    t.on( 'order.dt search.dt', function () {
        t.column(1, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    
} );
</script>	  	  
 
 <table id="pstable" class="table table-bordered table-condensed table-hover table-striped dt-responsive nowrap compact" style="width:100%">
  <thead>
    <tr class="info">
      <th style="width:3%"></th>
      <th style="width:2%" class="all">№</th>
      <th class="all">Дата</th>	
      <th class="all">Курс, MDL</th> 
    </tr>
  </thead>
  <tfoot>
    <tr class="info">
      <th style="width:3%"></th>
      <th style="width:2%" class="all">№</th>	
      <th class="all">Дата</th>	
      <th class="all">Курс, MDL</th> 
    </tr>
  </tfoot>  
  <tbody>
  <% @cparams.each do |item| %>
    <% if item.updated_at > (Time.now.ago($GreenDelay)) %><tr class="success"><% else %><tr><% end %>
    	<td></td>
    	<td></td>
        <td><%= item.created_at.strftime('%d.%m.%Y %R') %></td>	
	  	<td><%= number_to_currency(item.curs,:unit=>'') %></td>
    </tr>
  <% end %>    
  </tbody>
</table> 
      	    
