<% provide(:title, 'Редактирование ТО') %>

  <div class="row">	  	
	<div class="col-md-6">
  	<div  class="panel panel-info">
  	  <div class="panel-heading"><strong><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Редактирование ТО № <%= @tehservice.id %>:</strong></div> 		
	  <div class="panel-body">
		<%= simple_form_for(@tehservice, url: tehservices_update_path) do |f| %>
			  	
		  	<%= f.input :user_id, :as => :hidden %>
		  	<%= f.input :id, :as => :hidden %>
		  	
	        <!-- автомобиль --> 
	    	<div class="form-group">
	          	<label for="car_id" class="control-label">Автомобиль</label>		
	    	  	<%= select_tag "car_id", options_for_select(Car.all.collect {|p| [ p.marca + " "+p.gnum, p.id ] }, @tehservice.car_id), include_blank: false, class: "form-control", :readonly => true  %>
		  	</div>   
	    	<div class="form-group">
	    		<label for="parcurs" class="control-label">Пробег</label>
	    		<%= number_field_tag 'parcurs', @parcurs, class: "form-control" %>
	    	</div>

            <div class="col-md-6">
            <div class="form-group"> 
			  	<%= label_tag :"Введите тип сервиса" %>
			  	<%= select_tag :stype, options_for_select([['Пробег', 0],['Замена масла', 1], ['Техобслуживание', 3], ['Страховка', 2], ['Техосмотр', 4]] ),  class: "form-control"%>
		  	</div>
		  	</div>
		  	
		  	<div class="col-md-6">
		  	<%= f.input :sprice, label: "Стоимость сервиса, #{$valuta}", as: :integer, hint: "(для пробега стоимость не указывается)" %>
		  	</div>
		  	
	    	<!-- дата  -->
	    	<div class="col-md-6">
	    	<div class="form-group">
		    	<label for="sdate" class="control-label">Дата проведения работ</label>
		    	<%= date_field_tag 'sdate', @tehservice.sdate.in_time_zone.to_date, class: "form-control" %>
	    	</div>
	        </div>	
	    	<!-- время  -->
	    	<div class="col-md-6">
	    	<!-- время начала -->
	    	<%= simple_fields_for :timebeg do |n| %>
	        	<%= n.input :sttime, as: :time ,label: "Время проведения работ" , default: @tehservice.sdate ? Time.parse(@tehservice.sdate.in_time_zone.strftime('%R')) : Time.parse(Time.current.strftime('%R')), minute_step: 15 %>
	        <% end %>	    		
		  	</div>
		  	
		  	<%= f.input :comments , as: :text %>
		  	
		  	<div  align="center"><%= f.button :submit, "Сохранить", class: "btn btn-primary" %> <%= f.button :submit, "Отмена", class: "btn btn-warning", name: "cancel" %></div>
		  	
		 <% end %>        
		  	  	  
  	  </div> <!--panel body-->	
    </div> <!--panel-->
    </div>		
 </div><!--row-->   
  
