<% provide(:title, "Новый пользователь") %>

<div class="jumbotron">
<h3><center>Создайте <u>имя</u> пользователя, <u>почту</u> и <u>пароль</u></center></h3>

<%= simple_form_for(@user, :url => {:controller => "users", :action => "create"}, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :username, label: "Пользователь", required: true, autofocus: true, disabled: false, hint: "обязательное поле", as: :string %>
  <%= f.input :email, label: "Электронная почта", required: true, hint: "обязательное поле", as: :email %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, label: "Пароль", required: true, autofocus: false, hint: "#{@minimum_password_length} знакa минимум.", as: :password %>
    <%= f.input :password_confirmation, label: "Подтверждение пароля", hint: "", required: true, as: :password %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Сохранить", class: "btn btn-info" %> <%= link_to "Отмена", :back, class: "btn btn-warning" %>
  </div>
<% end %>
</div>

