<% provide(:title, 'Клиент') %>

<head>
  <meta charset="utf-8">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $("#pan").toggle()
    $("#clname").attr('disabled', 'disabled');
  });
  $(function() {
  $("#rem2").change( function() {
    $("#pan").toggle()
    $("#clname").toggle()
    $("#pser").toggle()
  });
  });
  function disableElements()
{
document.getElementById("#clname").disabled=true;
}
  
  $(function() {
    $( "#dt" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd.mm.yy' }).val();
       
    $( "#format" ).change(function() {
      $( "#dt" ).datetimepicker( "option", "dateFormat", $( this ).val() );
    });
  });
    $(function() {
    $( "#dt1" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd.mm.yy' }).val();
       
    $( "#format" ).change(function() {
      $( "#dt1" ).datepicker( "option", "dateFormat", $( this ).val() );
    });  
  });
  
  $(function() {
    $( "#dt2" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd.mm.yy' }).val();
       
    $( "#format" ).change(function() {
      $( "#dt2" ).datepicker( "option", "dateFormat", $( this ).val() );
    });  
  });
  
    $(function() {
    $( "#dt3" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd.mm.yy' }).val();
       
    $( "#format" ).change(function() {
      $( "#dt3" ).datepicker( "option", "dateFormat", $( this ).val() );
    });  
  });
  
  </script>
</head>

   <div class="row">
  	<div id="pan1" class="panel panel-info">
  	  <div class="panel-heading"><strong>Редактирование клиента:</strong></div> 		
	  <div class="panel-body">
	  	  <%= simple_form_for @client do |f| %>
	  	  	
		  <div class="large-6 columns">
		  <div class="panel  panel-default">		  	
		  	<div class="panel-body">
					<%= f.input :sname, label: "Фамилия", as: :string, :input_html => { :size => 25} %>
					<%= f.input :name, label: "Имя", as: :string, :input_html => { :size => 25} %>
					<%= f.input :fname, label: "Отчество", as: :string, :input_html => { :size => 25} %>
					<%= f.input :pseria, label: "Серия и номер паспорта", as: :string, :input_html => { :size => 25} %>
                    <label for='bdate' class="control-label">Дата рождения</label><%= date_field_tag 'bdate', if @client.bdate.nil? then nil else @client.bdate.to_date end, class: "form-control" %>
                    <label for='dn' class="control-label">Дата выдачи паспорта</label><%= date_field_tag 'dn',if @client.dn.nil? then nil else @client.dn.to_date end, class: "form-control" %>
			</div>
		    </div>
		    </div>
    
		    <div class="large-6 columns">
		    <div class="panel  panel-default">
		    <div class="panel-body">
					<%= f.input :idno, label: "IDNP", as: :string, :input_html => { :size => 25} %>
					<%= f.input :de, label: "Страна", as: :country, priority: ["MD","RU","UA","RO","IT","GB","DE","FR","ES","NL" ], include_blank: true %>
					<%= f.input :address, label: "Адрес", as: :string, :input_html => { :size => 50} %>
					<%= f.input :pemail, label: "E-mail", as: :email, :input_html => { :size => 25} %>
					<%= f.input :tel, label: "Контактный телефон", as: :tel, :input_html => { :size => 25} %>
					<%= f.input :comments, label: "Примечание", as: :text, :input_html => { :size => 50} %>		   	
			</div>
		  	</div>
		  	</div>
	  			<div  align="center"><%= f.button :submit, "Сохранить", class: "btn btn-primary" %>  <%= f.button :submit, "Отмена", class: "btn btn-warning", name: "cancel" %></div>	
	  				  	
  			<% end %>
  	  </div> <!--panel body-->	
    </div> <!--panel-->		
 </div><!--row-->   
 
   	
