<% provide(:title, 'Клиенты') %>

<!-- DataTables CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>

<script>
$(document).ready( function () {
    $('#mcl').dataTable( {
    	 "order": [[ 2, "asc" ],[ 3, "asc" ],[ 4, "asc" ]]
} );
} );
 
</script> 

  <div class="table-responsive">	
	<table id="mcl" class="table table-bordered table-condensed table-hover">	
		<thead>
			<tr class="info">
			   <th>ID</th>	
			   <th>...............</th>
			   <th>Фамилия</th>
			   <th>Имя</th>
			   <th>Отчество</th>
			   <th>Паспорт</th>
			   <th>Дата рождения</th>
			   <th>Дата выдачи</th>
			   <th>IDNP</th>
			   <th>Страна</th>			   
			   <th>Адрес</th>
			   <th>E-mail</th>
			   <th>Телефон</th>
			</tr>	
		</thead>
		<tbody>
			<% @clients.each do |cl| %>
					<% if cl.updated_at > (Time.now.ago($GreenDelay)) %><tr class="success"><% else %><tr><% end %>
						<td><%= "#{cl.id}" %></td>
						<td><%= link_to " " , edit_client_path(cl),:method => :get, :class=> "glyphicon glyphicon-pencil", :title => 'Редактировать клиента' %>
							<%= link_to " " , clients_destroy_path(:id => cl.id),:method => :get, :class=> "glyphicon glyphicon-remove", :title => 'Удалить клиента', data: { confirm: "Удалить клиента #{cl.id} #{cl.sname} #{cl.name} #{cl.fname}?" } %>
							<%= link_to " " , new_contract_path(:client_id => cl.id),:method => :get, :class=> "glyphicon glyphicon-file", :title => 'Создать контракт' %>
							<%= link_to " " , contracts_newbroni_path(:client_id => cl.id),:method => :get, :class=> "glyphicon glyphicon-flag", :title => 'Создать бронь' %></td>
						<td><%= cl.sname %></td>
						<td><%= cl.name %></td>
						<td><%= cl.fname %></td>
						<td><%= cl.pseria %></td>
						<td><%= cl.bdate %></td>
						<td><%= cl.dn %></td>
						<td><%= cl.idno %></td>
						<td><%= cl.de %></td>
						<td><%= cl.address %></td>
						<td><%= cl.pemail %></td>						
						<td><%= cl.tel %></td>						
					</tr>		
			<% end %>
			
		</tbody>
	</table>
  </div>
