<% provide(:title, 'Клиенты') %>

<script>
	$(document).ready(function() {
    $('#mcl').DataTable( {
        "order": [[ 2, "asc" ],[ 3, "asc" ],[ 4, "asc" ]],
        "language": {
            "lengthMenu": "Отображать _MENU_ строк на странице",
            "zeroRecords": "Ничего не найдено - увы...",
            "info": "Страница _PAGE_ из _PAGES_",
            "infoEmpty": "Нет доступных строк",
            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
            "search": "Поиск",
             paginate: {
                first:      "<<",
                previous:   "<",
                next:       ">",
                last:       ">>"
            }
        },
        "pagingType": "full_numbers"
    } );
} );
</script>

  <div class="table-responsive">	
	<table id="mcl" class="table table-bordered table-condensed table-hover">	
		<thead>
			<tr class="info">
			   <th>ID</th>	
			   <th>...............</th>
			   <th>Фамилия</th>
			   <th>Имя</th>
			   <th>Отчество</th>
			   <th>Паспорт</th>
			   <th>Дата рождения</th>
			   <th>Дата выдачи</th>
			   <th>IDNP</th>
			   <th>Страна</th>			   
			   <th>Адрес</th>
			   <th>E-mail</th>
			   <th>Телефон</th>
			</tr>	
		</thead>
		<tbody>
			<% @clients.each do |cl| %>
					<% if cl.updated_at > (Time.now.ago($GreenDelay)) %><tr class="success"><% else %><tr><% end %>
						<td><%= "#{cl.id}" %></td>
						<td><%= link_to " " , edit_client_path(cl),:method => :get, :class=> "glyphicon glyphicon-pencil", :title => 'Редактировать клиента' %>
							<%= link_to " " , clients_destroy_path(:id => cl.id),:method => :get, :class=> "glyphicon glyphicon-remove", :title => 'Удалить клиента', data: { confirm: "Удалить клиента #{cl.id} #{cl.sname} #{cl.name} #{cl.fname}?" } %>
							<%= link_to " " , new_contract_path(:client_id => cl.id),:method => :get, :class=> "glyphicon glyphicon-file", :title => 'Создать контракт' %>
							<%= link_to " " , contracts_newbroni_path(:client_id => cl.id),:method => :get, :class=> "glyphicon glyphicon-flag", :title => 'Создать бронь' %></td>
						<td><%= cl.sname %></td>
						<td><%= cl.name %></td>
						<td><%= cl.fname %></td>
						<td><%= cl.pseria %></td>
						<td><%= cl.bdate %></td>
						<td><%= cl.dn %></td>
						<td><%= cl.idno %></td>
						<td><%= cl.de %></td>
						<td><%= cl.address %></td>
						<td><%= cl.pemail %></td>						
						<td><%= cl.tel %></td>						
					</tr>		
			<% end %>
			
		</tbody>
	</table>
  </div>
