<% provide(:title, 'Новый клиент') %>

<head>
  <meta charset="utf-8">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $("#pan").toggle()
    $("#clname").attr('disabled', 'disabled');
  });
  $(function() {
  $("#rem2").change( function() {
    $("#pan").toggle()
    $("#clname").toggle()
    $("#pser").toggle()
  });
  });
  function disableElements()
{
document.getElementById("#clname").disabled=true;
}
  
  $(function() {
    $( "#dt" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd.mm.yy' }).val();
       
    $( "#format" ).change(function() {
      $( "#dt" ).datetimepicker( "option", "dateFormat", $( this ).val() );
    });
  });
    $(function() {
    $( "#dt1" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd.mm.yy' }).val();
       
    $( "#format" ).change(function() {
      $( "#dt1" ).datepicker( "option", "dateFormat", $( this ).val() );
    });  
  });
  
  $(function() {
    $( "#dt2" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd.mm.yy' }).val();
       
    $( "#format" ).change(function() {
      $( "#dt2" ).datepicker( "option", "dateFormat", $( this ).val() );
    });  
  });
  
    $(function() {
    $( "#dt3" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd.mm.yy' }).val();
       
    $( "#format" ).change(function() {
      $( "#dt3" ).datepicker( "option", "dateFormat", $( this ).val() );
    });  
  });
  
  </script>
</head>
 	
  <div class="row">
  	<div id="pan1" class="panel panel-info">
  	  <div class="panel-heading"><strong>Новый клиент:</strong></div> 		
	  <div class="panel-body">
	  	  <%= form_for :client, url: clients_path do |f| %>
	  	  	
		  <div class="large-6 columns">
		  <div class="panel  panel-default">		  	
		  	<div class="panel-body">
			  	<%= f.label :"Фамилия"%>
			  	<%= f.text_field :sname%>
			  	<%= f.label :"Имя"%>
			  	<%= f.text_field :name%>
			  	<%= f.label :"Отчество"%>
			  	<%= f.text_field :fname%>
			  	<%= f.label 'Серия и номер паспорта' %>
			    <%= f.text_field :pseria %>
			    <%= f.label 'Дата рождения'%>
			    <%= date_field_tag :bdate, Date.today.to_formatted_s(:year_month_day) %> 
			<--    <%= f.date_select :bdate %> --> 			    
			    <%= f.label 'Дата выдачи' %>
			    <%= f.text_field :dn,:value => DateTime.now.strftime('%d.%m.%Y'),:id => "dt2"%>
			</div>
		    </div>
		    </div>
    
		    <div class="large-6 columns">
		    <div class="panel  panel-default">
		    <div class="panel-body">
			    <%= f.label 'IDNP' %>
			    <%= f.text_field :idno%>		    	
		    	<p>	
			    <%= f.label 'Страна' %>
			    <%= f.country_select(:de, priority_countries: ["RU", "MD", "IT","RO","GB","DE","FR","es","nl"],selected: "MD")%>
			    </p>
			    <%= f.label 'Адрес' %>
			   	<%= f.text_field :address %>
			   	<%= f.label 'E-mail' %>
			   	<%= f.text_field :pemail %>
			   	<%= f.label 'Контактный телефон' %>
			   	<%= f.text_field :tel %>
			   	<%= f.label 'Примечание' %>
			   	<%= f.text_area :comments,size: "30x2" %>
			</div>
		  	</div>
		  	</div>
		  	
  			<center><%= f.submit "Создать клиента", class: "btn btn-primary" %></center>
  			<% end %>
  	  </div> <!--panel body-->	
    </div> <!--panel-->		
 </div><!--row-->   	  	
 	
  	
  
	

