<center>
	<center>         </center>
	<table border="0" cellspacing="5" cellpadding="5">
		<thead>
			<tr><th><%= link_to "Июль",:action => :smonth,:num => 7 %></th><th><%= link_to "Август" %></th><th><%= link_to "Сентябрь" %></th>
				<th><%=link_to "Октябрь" %></th><th><%=link_to "Ноябрь" %></th><th><%=link_to "Декабрь" %></th></tr>
		</thead>
	</table>	
	<table border="0" cellspacing="5" cellpadding="5">	
		<thead>	
		<tr>
			<th>N0</th>
			<th>Model</th>
			
			<% n=1 %>
				<% while n<32 do %>
					<th><%= n %>
			        </th>         
  				<% n += 1 %>
				<% end %>
		</tr>
		</thead>
		<tbody>
		<% i=0 %>
			<% n1=0 %>
		<% @cars.each do |fc| %>	
		<tr>
			<td><%= i%></td>
			<td><%= link_to fc.marca.to_s + " " +fc.gnum.to_s, car_path(fc) %></td>
			
				<% n=1 %>
				
				<% while n<32 do %>
				<% str = n.to_s %>
					<% if n <10 %>
						<% str = '0'.to_s + str.to_s  %>
					<%  end %>	
					<% if (@buz[n1].to_s.include? str)%>
					<td bgcolor="gold">Б 
					<% if 1 == 0 %>
						<br><p bgcolor="red">M</p>
					<% end %>	
			        </td>
					         
			        <% else %>
			        <td bgcolor="white">
			        </td>
			        <% end %>    
			    
  				<% n += 1 %>
				<% end %>
					<% @car = fc%>
				<td><%= link_to "Бронь" %></td>
		</tr>	
		<% i=i+1 %>
		<% n1 = n1 + 1 %>
		<% end %>
		</tbody>
	
	
</center>