

<center>
	<center>         </center>
	<table border="0" cellspacing="5" cellpadding="5">
		<thead>
		<tr>
			<th>N0</th>
			<th>Model</th>
			<th>Number</th>
			<% n=1 %>
				<% while n<32 do %>
					<th><%= n %>
			        </th>         
  				<% n += 1 %>
				<% end %>
		</tr>
		</thead>
		<tbody>
		<% i=0 %>
		<% @cars.each do |fc| %>	
		<tr>
			<% i=i+1 %>
			<td><%= i%></td>
			<td><%= link_to fc.marca, car_path(fc) %></td>
			<td><%= fc.gnum%></td>
				<% n=0 %>
				<% while n<31 do %>
					<% if (n%2 == 1)%>
					<td bgcolor="white">
			        </td>         
			        <% else %>
			        <td bgcolor="orange">B
			        </td>
			        <% end %>
  				<% n += 1 %>
				<% end %>
				<td><%= link_to "Договор"%></td>
		</tr>	
		<% end %>
		</tbody>
	
	
</center>

