
<div class="row">
  <div class="large-6 columns">
	<div class="panel callout radius">
		
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		    <%= f.input :username, label: "Пользователь", autofocus: true, as: :string %>
		    <%= f.input :password, label: "Пароль", autocomplete: "off", as: :password %>		
			<% if devise_mapping.rememberable? %>
			    <%= f.input :remember_me, label: "Запомнить меня", as: :boolean, checked_value: true, unchecked_value: false %> 
			<% end %>
		    <div  align="center"><%= f.button :submit, "Вход", class: "btn btn-primary" %></div>
		<% end %>

		<div  align="center"><%= render "devise/shared/links" %></div>
    </div> 	
  </div>
</div>
