<% provide(:title, 'ТО') %>

<script>
	$(document).ready(function() {
    $('#mcl').DataTable( {
        "order": [[ 1, "asc" ]],
        "language": {
            "lengthMenu": "Отображать _MENU_ строк на странице",
            "zeroRecords": "Ничего не найдено - увы...",
            "info": "Страница _PAGE_ из _PAGES_",
            "infoEmpty": "Нет доступных строк",
            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
            "search": "Поиск",
             paginate: {
                first:      "<<",
                previous:   "<",
                next:       ">",
                last:       ">>"
            }
        },
        "pagingType": "full_numbers"
    } );
} );
</script>

	<div class="table-responsive">	
		<table id="mcl" class="table table-bordered table-condensed table-hover table-striped"">			
			<thead>
				<tr  class="info">
					<th>№</th>
					<th>Автомобиль</th>
					<th>Текущий пробег</th>
					<th>ТO</th>
					<th>Масло и фильтры</th>
					<th>Страховка</th>
					<th>Техосмотр</th>				
					<th>Стоимость<br> за текущий месяц</th>
					<th>Стоимость<br> за текущий год</th>
					<th>Действие</th>					
				</tr>
			</thead>
			<tbody>	
  	          <% @report.each do |item| %>
				<tr>
					<td><%= item[:i] %></td>
					<td><%= link_to "#{item[:marca_gnum]}",:controller => :tehservices, :action => :index ,:car_id => item[:car_id] %></td>
					<td><%= item[:parcurs][:parcurs] %><br><%= item[:parcurs][:wdate] %></td>
					<td class=<%= if item[:to][:tored] then "danger" end %>><%= item[:to][:parcurs] %><br><%= item[:to][:maxtosdate] %></td>
					<td class=<%= if item[:oil][:oilred] then "danger" end %>><%= item[:oil][:parcurs] %><br><%= item[:oil][:maxoilsdate] %></td>	
					<td class=<%= if item[:asig][:asigred] then "danger" end %>><%= item[:asig][:asigdt] %><br><%= item[:asig][:maxasigsdate] %></td>
					<td class=<%= if item[:tosm][:tosmred] then "danger" end %>><%= item[:tosm][:tosmdt] %><br><%= item[:tosm][:maxtosmsdate] %></td>					
					<td><%= number_to_currency(item[:monthsprice],:unit=>'€') %></td>
					<td><%= number_to_currency(item[:yearsprice],:unit=>'€') %></td>
					<td><%= link_to "ТО", :controller => :tehservices, :action => :new ,:car_id => item[:car_id] %></td>	
				</tr>	
			   <% end %>
			</tbody>	
		</table>
	</div>	