<% provide(:title, 'Авто') %>

<!-- DataTables CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>

<script>
$(document).ready( function () {
    $('#mcl').dataTable( {
    	 "order": [[ 2, "asc" ],[ 3, "asc"]]
} );
} );
 
</script> 

  <div class="table-responsive">	
	<table id="mcl" class="table table-bordered table-condensed table-hover table-striped">	
		<thead>
			<tr class="info">
			   <th>ID</th>
			   <th>...............</th>
			   <th>Марка</th>
			   <th>Гос. номер</th>
			   <th>№ кузова</th>
			   <th>№ двигателя</th>
			   <th>Дата выпуска</th>
			   <th>Цвет</th>
			   <th>Объем двигателя</th>
			   <th>Масса</th>
			   <th>Стоимость, EUR</th>
			   <th></th>
			   <th></th>
			   <th>Дни 1</th>
			   <th>Цена 1</th>
			   <th>Дни 2</th>
			   <th>Цена 2</th>
			   <th>Дни 3</th>
			   <th>Цена 3</th>
			   <th>Дни 4</th>
			   <th>Цена 4</th>
			   <th>Дни 5</th>
			   <th>Цена 5</th>
			   <th>Дни 6</th>
			   <th>Цена 6</th>
			   <th>Дни 7</th>
			   <th>Цена 7</th>			   
			</tr>	
		</thead>
		<tbody>
			<% @cars.each do |c| %>
					<tr>
						<td><%= "#{c.id}" %></td>
						<td><%= link_to " " , edit_car_path(c),:method => :get, :class=> "glyphicon glyphicon-pencil", :title => 'Редактировать авто' %>
							<%= link_to " " , cars_destroy_path(:id => c.id),:method => :get, :class=> "glyphicon glyphicon-remove", :title => 'Удалить авто', data: { confirm: "Удалить авто #{c.id} #{c.marca} #{c.gnum}?" } %>
							<%= link_to " " , new_contract_path(:car_id => c.id),:method => :get, :class=> "glyphicon glyphicon-file", :title => 'Создать контракт' %>
							<%= link_to " " , contracts_newbroni_path(:car_id => c.id),:method => :get, :class=> "glyphicon glyphicon-flag", :title => 'Создать бронь' %></td>
						<td><%= "#{c.marca}" %></td>
						<td><%= "#{c.gnum}" %></td>
					    <td><%= "#{c.cuznum}" %></td>
					    <td><%= "#{c.motnum}" %></td>
					    <td><%= "#{c.proddate}" %></td>
					    <td><%= "#{c.color}" %></td>
					    <td><%= "#{c.vmot}" %></td>
					    <td><%= "#{c.tmasa}" %></td>
					    <td><%= "#{c.tsumm}" %></td>
					    <td><%= "#{c.aprod}" %></td>
					    <td><%= "#{c.capcil}" %></td>
					    <td><%= "#{c.int1}" %></td>
					    <td><%= "#{c.int1price}" %></td>
					    <td><%= "#{c.int2}" %></td>
					    <td><%= "#{c.int2price}" %></td>
					    <td><%= "#{c.int3}" %></td>
					    <td><%= "#{c.int3price}" %></td>
					    <td><%= "#{c.int4}" %></td>
					    <td><%= "#{c.int4price}" %></td>
					    <td><%= "#{c.int5}" %></td>
					    <td><%= "#{c.int5price}" %></td>
					    <td><%= "#{c.int6}" %></td>
					    <td><%= "#{c.int6price}" %></td>
					    <td><%= "#{c.int7}" %></td>
					    <td><%= "#{c.int7price}" %></td>								
					</tr>		
			<% end %>			
		</tbody>
	</table>
  </div>
