<head>
  <meta charset="utf-8">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $("#pan").toggle()
    $("#clname").attr('disabled', 'disabled');
  });
  $(function() {
  $("#rem1").change( function() {
    $("#pan").toggle()
    $("#clname").attr('disabled', 'disabled');
  });
  });
  function disableElements()
{
document.getElementById("#clname").disabled=true;
}
  
  $(function() {
    $( "#dt" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd.mm.yy' }).val();
       
    $( "#format" ).change(function() {
      $( "#dt" ).datepicker( "option", "dateFormat", $( this ).val() );
    });
  });
    $(function() {
    $( "#dt1" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd.mm.yy' }).val();
       
    $( "#format" ).change(function() {
      $( "#dt1" ).datepicker( "option", "dateFormat", $( this ).val() );
    });  
  });
  
  $(function() {
    $( "#dt2" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd.mm.yy' }).val();
       
    $( "#format" ).change(function() {
      $( "#dt2" ).datepicker( "option", "dateFormat", $( this ).val() );
    });  
  });
  
    $(function() {
    $( "#dt3" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd.mm.yy' }).val();
       
    $( "#format" ).change(function() {
      $( "#dt3" ).datepicker( "option", "dateFormat", $( this ).val() );
    });  
  });
  
  </script>
</head>

<%= button_to "Назад", root_path,:method => :get, :class=>"button tiny"%>
<div class="row">
  <div class="large-6 columns">
  	  <div class="panel">
    <%= form_tag '/reznew' do %>
    	<%= text_field_tag "cnum", Contract.maximum(:id) + 1 , :readonly => true%>
    	<%=label_tag 'Имя клиента',"Клиент", :id => "clname" %>
    	<%= autocomplete_field_tag 'name', '', autocomplete_client_sname_cars_path, :size => 75 %>
    	<%= label_tag 'Залог' %>
    	<%= text_field_tag 'psum'%>
    	<p>
  <input type="checkbox" class="toggle" name="remind" id="rem1" value="0" rel="toggle[remind_off]" />
  <label for="remind">Создать нового клиента</label>
  
</p>
	<div id="pan" class="panel">
  		<p>Новый клиент</p>
  		<%= label_tag 'Фамилия' %>
    	<%= text_field_tag 'surname'%>
    	<%= label_tag 'Имя' %>
    	<%= text_field_tag 'name'%>
    	<%= label_tag 'Отчество' %>
    	<%= text_field_tag 'fname'%>
    	<%= label_tag 'Серия паспорта' %>
    	<%= text_field_tag 'pseria'%>
    	<%= label_tag 'Дата выдачи' %>
    	<%= text_field_tag 'dn',DateTime.now.strftime('%d.%m.%Y'),:id => "dt2"%>
    	<%= label_tag 'Персональный номер' %>
    	<%= text_field_tag 'idnp'%>
    	<%= label_tag 'Год рождения'%>
    	<%= text_field_tag 'bdate',DateTime.now.strftime('%d.%m.%Y'),:id => "dt3" %>
    	<%= label_tag 'Страна проживания' %>
    	<%= country_select("contract", "country", 
    	priority_countries: ["RU", "MD", "IT","RO","GB","DE","FR","es","nl"],selected: "RU")%>
    	<%= label_tag 'Адрес проживания' %>
    	<%= text_field_tag 'address'%>
    	<%= label_tag 'E-mail' %>
    	<%= text_field_tag 'pemail'%>
    	<%= label_tag 'Контактный телефон' %>
    	<%= text_field_tag 'tel'%>
  	</div>	
    	<%= label_tag 'Номер автомобиля' %>
    	<%= select_tag "car_num", options_for_select(Car.all.collect {|p| [ p.gnum, p.id ] }) %>
    	<%= label_tag 'Дата начала договора' %>
    	<%= text_field_tag 'nstdate',DateTime.now.strftime('%d.%m.%Y'), :id => "dt"%>
    	<%= label_tag 'Дата конца договора'%>
    	<%= text_field_tag 'enddate',DateTime.now.strftime('%d.%m.%Y'), :id => "dt1"%>
    	<%= label_tag 'Менеджер' %>
    	<%= text_field_tag 'user', current_user.username, :readonly => true%>
	<center><%= submit_tag 'Сохранить',:class=>"button tiny" %></center>
	<% end %>
  </div>
  </div>
  
</div>

