<% provide(:title, 'График') %>

	<% if @broni_today.count != 0 then %>	
		<h4 style="color: blue" align="center">Брони в работу на сегодня</h4>
		<small>
		<div class="table-responsive">	
		<table id="b1" class="table table-bordered table-condensed table-hover">
			<thead>
				<tr class="info">
					<th>No</th>
					<th>Автомобиль</th>
					<th>Клиент</th>
					<th>Агент</th>
					<th>Период</th>
					<th>Пробег</th>
					<th>Гар. сумма, <% if $valuta.upcase=='EUR' then %>&euro;<% else %><%= "#{$valuta}" %><% end %></th>
					<th>Цена, <% if $valuta.upcase=='EUR' then %>&euro;<% else %><%= "#{$valuta}" %><% end %></th>
					<th></th>
				</tr>
			</thead>
			<tbody>			
				<% @broni_today.each do |contract| %>
					<%= simple_form_for :contract,:url => {controller: "contracts", action: "broni2contract"} do |f| %>
					    <%= hidden_field_tag 'id', contract.id  %>
						<tr>
							<td><%= "#{contract.id}/#{contract.cnum}" %></td>
							<td><%= if contract.car then "#{contract.car.marca} #{contract.car.gnum}" end %></td>
							<td><%= if contract.client then "#{contract.client.id} #{contract.client.sname} #{contract.client.name} #{contract.client.fname}" end %></td>
							<td><%= if contract.user then "#{contract.user.username}" end %></td>
							<td><%= contract.stdate.to_date.strftime("%d.%m.%Y") %>-<%= contract.enddate.to_date.strftime("%d.%m.%Y") %>
						        <%= if contract.dperiod then "#{contract.dperiod} дн." end %></td>
							<td><%= text_field_tag 'wlong', if contract.car.wlongs.last then contract.car.wlongs.last.wlong end %></td>
							<td><%= contract.garant_summ %></td>
	 						<td><%= contract.price %></td>
							<td><%= submit_tag("Открыть", class: "btn btn-primary") %></td>
						</tr>
					<% end %>							
				<% end %>
			</tbody>	
		</table>
		</div>
		</small>
	<% end %>
	
    <% if @broni_tomorrow.count != 0 then %>	
		<h4 style="color: blue" align="center">Брони в работу на завтра</h4>
		<div class="table-responsive">	
		<table id="b1" class="table table-bordered table-condensed table-hover">
			<thead>
				<tr class="info">
					<th>No</th>
					<th>Автомобиль</th>
					<th>Клиент</th>
					<th>Агент</th>
					<th>Период</th>
					<th>Пробег</th>
					<th>Гар. сумма, <% if $valuta.upcase=='EUR' then %>&euro;<% else %><%= "#{$valuta}" %><% end %></th>
					<th>Цена, <% if $valuta.upcase=='EUR' then %>&euro;<% else %><%= "#{$valuta}" %><% end %></th>
					<th></th>
				</tr>
			</thead>
			<tbody>			
				<% @broni_tomorrow.each do |contract| %>
					<%= simple_form_for :contract,:url => {controller: "contracts", action: "broni2contract"} do |f| %>
					    <%= hidden_field_tag 'id', contract.id  %>
						<tr>
							<td><%= "#{contract.id}/#{contract.cnum}" %></td>
							<td><%= if contract.car then "#{contract.car.marca} #{contract.car.gnum}" end %></td>
							<td><%= if contract.client then "#{contract.client.id} #{contract.client.sname} #{contract.client.name} #{contract.client.fname}" end %></td>
							<td><%= if contract.user then "#{contract.user.username}" end %></td>
							<td><%= contract.stdate.to_date.strftime("%d.%m.%Y") %>-<%= contract.enddate.to_date.strftime("%d.%m.%Y") %>
						        <%= if contract.dperiod then "#{contract.dperiod} дн." end %></td>
							<td><%= text_field_tag 'wlong', if contract.car.wlongs.last then contract.car.wlongs.last.wlong end %></td>
							<td><%= contract.garant_summ %></td>
	 						<td><%= contract.price %></td>
							<td><%= submit_tag("Открыть", class: "btn btn-primary") %></td>
						</tr>
					<% end %>							
				<% end %>
			</tbody>	
		</table>
		</div>
	<% end %>
	
	<% if @contracts_close_today.count != 0 then %>	
		<h4 style="color: blue" align="center">Контракты к закрытию на сегодня</h4>
		<div class="table-responsive">	
		<table id="b1" class="table table-bordered table-condensed table-hover">
			<thead>
				<tr class="info">
					<th>No</th>
					<th>Автомобиль</th>
					<th>Клиент</th>
					<th>Агент</th>
					<th>Дата начала</th>
					<th>Дата окончания</th>
					<th width="12%">Время окончания</th>
					<th>Пробег</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @contracts_close_today.each do |contract| %>
					<%= simple_form_for :contract,:url => {controller: "contracts", action: "contract2arh"} do |f|%>
					    <%= hidden_field_tag 'id', contract.id  %>
					    <tr>
							<td><%= link_to "#{contract.id}/#{contract.cnum}",  contract_path(contract) %></td>
							<td><%= if contract.car then "#{contract.car.marca} #{contract.car.gnum}" end %></td>
							<td><%= if contract.client then "#{contract.client.id} #{contract.client.sname} #{contract.client.name} #{contract.client.fname}" end %></td>
							<td><%= if contract.user then "#{contract.user.username}" end %></td>
							<td><%= contract.stdate.strftime("%d.%m.%Y") %></td>
							<td><%= contract.enddate.strftime("%d.%m.%Y") %></td>
							<td><%= unless contract.endtime.nil? then " #{contract.endtime.strftime('%R')}" else "" end %>
							    <%= f.input :fendtime, as: :time , default: Time.parse(Time.now.strftime('%R')), label: "по факту" %></td>
							<td><%= unless contract.car.wlongs.last.nil? then "#{contract.car.wlongs.last.wlong}" else "" end %>
								<%= f.input :wlongend, as: :integer, label: "по факту",:input_html => { :size => 10, :value => if contract.car.wlongs.last then "#{contract.car.wlongs.last.wlong}" end } %></td>
							<td><%= submit_tag("Закрыть", class: "btn btn-primary") %></td>
						</tr>
					<% end %> <!-- form_tag-->
				<% end %>  <!-- each -->
			</tbody>	
		</table>
		</div>	
	<% end %>	
			
	<h4 align="center">Текущие брони и контракты по машинам <% if @filter==1 then %><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><% end %></h4>
<!--	
	<nav class="navbar">
	  <ul class="nav nav-pills pull-left">
		<li><%= form_tag("/cars/smonth", method: "get", class: 'form-inline') do %>
	    	<div class="form-group">
			  <%= select_tag(:qmarca, options_for_select(@fmarcas, @qmarca), class: "form-control", prompt: "Марка...", include_blank: false, title: "Марка") %>
			  <%= submit_tag("Фильтр", class: "btn btn-primary", name: "filter", title: "фильтр") %>
			</div>
			<% end %>
		</li>
		<li><%= form_tag("/cars/smonth", method: "get", class: 'form-inline') do %>
	    	<div class="form-group">
			  <%= text_field_tag(:q, @data_for_search, placeholder: 'Enter your search query here', class: "form-control", title: "машина") %>
			  <%= submit_tag("Поиск", class: "btn btn-primary", name: "search", title: "поиск") %>
			</div>
			<% end %>
		</li>				    
	  </ul>  
	</nav>
-->		
	<div align="center">
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist" id="myTab">
		<% (1..12).each do |i| %>
			<% if @months[i-1] == @currentdate then %><li role="presentation" class="active"><% else %><li role="presentation"><% end %>
			<a href="#<%= i %>" aria-controls="<%= i %>" role="tab" data-toggle="tab" class="label label-info">
		   <% if @months[i-1] == @currentdate then %><span class="badge"><% end %><%= "#{@months[i-1].to_formatted_s(:month_year)}" %><% if @months[i-1] == @currentdate then %></span><% end %></a></li>	
		<% end	%>	  	
	  </ul>	
	  <!-- Tab panes -->
	  <div class="tab-content">
	  	<% (1..12).each do |i| %>
		    <!-- one month table -->
		    <% titleitem = @title1[i-1] %>
		    <% reportitem = @report1[i-1] %>
		    <% daycount = titleitem.size - 2 %>
		    <div role="tabpanel" class="<%= if @months[i-1] == @currentdate then "tab-pane fade in active" else "tab-pane fade" end %>" id="<%= "#{i}" %>" >
		    	<br>		
				<div class="table-responsive">	
				<table class="table table-bordered table-condensed table-hover">
					<thead>	
					<tr>
						<th><center>№</center></th>
						<th align="center"><center>Автомобиль</center></th>
						<% (0..(daycount-1)).each do |d| %>
							<th class=<%= case (titleitem[d+2]) when 2 then "warning" when 1 then "danger" else "" end %>>
							<center><font color=<%= case (titleitem[d+2]) when 2 then "orange" when 1 then "red" else "" end %>><%= d+1 %></font></center></th>
						<% end %>	
					</tr>
					</thead>
					<tbody>
						<% reportitem.each do |r| %>	
							<tr>
							<td><center><%= r[0] %></center></td>
							<td><%= link_to "#{r[1]}", edit_car_path(:id => r[daycount+2]) %></td>
							<% (0..(daycount-1)).each do |d| %>
								<td title="<%= (@months[i-1]).change(day: (d+1)).to_formatted_s(:dday_month_year) + case when (!r[d+2].nil?) then "#{r[d+2][:client]} #{r[d+2][:contract]}" else "" end %>" 
									               id=<%= case when (!r[d+2].nil? and r[d+2][:flag]==1) then "bbroni" when (!r[d+2].nil? and r[d+2][:flag]==2) then "ccontract" else "zzz" end %>  
								                   class=<%= case when (!r[d+2].nil? and r[d+2][:flag]==1) then "danger" 
									               when (!r[d+2].nil? and r[d+2][:flag]==2) then "info" 
									               when (!r[d+2].nil? and r[d+2][:flag]==3) then "success"
									               when (titleitem[d+2]==1) then "danger"
									               when (titleitem[d+2]==2) then "warning" 	 	 
									               else "" end %>>
								<center>
								<% if !r[d+2].nil? then %>	
									<% case (r[d+2][:flag]) when 1 then %><b><%= link_to "Б" , contracts_show_path(:id => r[d+2][:contract_id]), id: "bbroni" %></b>
									<%               when 2 then %><b><%= link_to "К", contracts_show_path(:id => r[d+2][:contract_id]), id: "ccontract" %></b>
									<%               when 3 then %><b><%= link_to "X", '#', id: "rezerv" %></b>
									<% end %>
								<% else %><b><%= link_to ".", contracts_newbroni_path(:car_id => r[daycount+2], :stdate => (@months[i-1]).change(day: (d+1)).to_formatted_s(:dday_month_year)), id: "vacant", 
								              title: "#{(@months[i-1]).change(day: (d+1)).to_formatted_s(:dday_month_year)} Бронь новая" %></b>
								          <b><%= link_to ".", contracts_new_path(:car_id => r[daycount+2], :stdate => (@months[i-1]).change(day: (d+1)).to_formatted_s(:dday_month_year)), id: "vacantc", 
								              title: "#{(@months[i-1]).change(day: (d+1)).to_formatted_s(:dday_month_year)} Контракт новый" %>
								<% end %>
								</center>
							    </td>
							<% end %>						
						<% end %>
					</tbody>
				</table>
				</div>	   	
		    </div>
		    <!-- end of one month table -->
	    <% end	%>              
	  </div>
	</div>		

<% unless @mn.nil? then %>
<script>   $(function () {$('#myTab a[href="#<%= @mn %>"]').tab('show'); }) </script>
<% end %>

