<%= javascript_include_tag "bootstrap.min", 'data-turbolinks-track' => true %>

<% provide(:title, 'График') %>

	<% if @broni_today.count != 0 then %>	
		<h4 style="color: blue" align="center">Брони в работу на сегодня</h4>
		<div class="table-responsive">	
		<div class="table-responsive">	
		<table id="b1" class="table table-bordered table-condensed table-hover table-striped">
			<thead>
				<tr class="info">
					<th>No</th>
					<th>Автомобиль</th>
					<th>Клиент</th>
					<th>Агент</th>
					<th>Период</th>
					<th width=10%>Пробег</th>
					<th>Гар. сумма, <% if $valuta.upcase=='EUR' then %>&euro;<% else %><%= "#{$valuta}" %><% end %></th>
					<th>Цена, <% if $valuta.upcase=='EUR' then %>&euro;<% else %><%= "#{$valuta}" %><% end %></th>
					<th></th>
				</tr>
			</thead>
			<tbody>			
				<% @broni_today.each do |contract| %>
					<%= simple_form_for :contract,:url => {controller: "contracts", action: "broni2contract"} do |f| %>
					    <%= hidden_field_tag 'id', contract.id  %>
						<tr>
							<td><%= link_to "#{contract.id}/#{contract.cnum}",  contract_path(contract) %></td>
							<td><%= if contract.car then "#{contract.car.marca} #{contract.car.gnum}" end %></td>
							<td><%= if contract.client then "#{contract.client.id} #{contract.client.sname} #{contract.client.name} #{contract.client.fname}" end %></td>
							<td><%= if contract.user then "#{contract.user.username}" end %></td>
							<td><small><%= "#{contract.stdate.strftime('%d.%m.%Y_%R')}" %></br><%= "#{contract.enddate.strftime('%d.%m.%Y_%R')}" %></br>
						        <%= if contract.dperiod then 
						        	  "#{contract.dperiod} " +  
						        	  (case contract.dperiod when 1 then "день" when 2 then "дня" when 3 then "дня" when 4 then "дня" else "дней" end) end %></small></td>
							<td><small><%= f.input :parcurs, as: :integer, label: "по факту",:input_html => { :size => 7, :length => 5,:value => if contract.car.wlongs.last then "#{contract.car.wlongs.last.parcurs}" end, class: 'special-semieconom',style: 'width: 80px' } %></small></td>
							<td><%= contract.garant_summ %></td>
	 						<td><%= contract.price %></td>
							<td><%= submit_tag("Контракт", class: "btn btn-info btn-xs") %></td>
						</tr>
					<% end %>							
				<% end %>
			</tbody>	
		</table>
		</div>
	<% end %>
	
    <% if @broni_tomorrow.count != 0 then %>	
		<h4 style="color: blue" align="center">Брони в работу на завтра</h4>
		<div class="table-responsive">	
		<table id="b1" class="table table-bordered table-condensed table-hover table-striped">
			<thead>
				<tr class="info">
					<th>No</th>
					<th>Автомобиль</th>
					<th>Клиент</th>
					<th>Агент</th>
					<th>Период</th>
					<th width=10%>Пробег</th>
					<th>Гар. сумма, <% if $valuta.upcase=='EUR' then %>&euro;<% else %><%= "#{$valuta}" %><% end %></th>
					<th>Цена, <% if $valuta.upcase=='EUR' then %>&euro;<% else %><%= "#{$valuta}" %><% end %></th>
					<th></th>
				</tr>
			</thead>
			<tbody>			
				<% @broni_tomorrow.each do |contract| %>
					<%= simple_form_for :contract,:url => {controller: "contracts", action: "broni2contract"} do |f| %>
					    <%= hidden_field_tag 'id', contract.id  %>
						<tr>
							<td><%= link_to "#{contract.id}/#{contract.cnum}",  contract_path(contract) %></td>
							<td><%= if contract.car then "#{contract.car.marca} #{contract.car.gnum}" end %></td>
							<td><%= if contract.client then "#{contract.client.id} #{contract.client.sname} #{contract.client.name} #{contract.client.fname}" end %></td>
							<td><%= if contract.user then "#{contract.user.username}" end %></td>
							<td><small><%= "#{contract.stdate.strftime('%d.%m.%Y_%R')}" %></br><%= "#{contract.enddate.strftime('%d.%m.%Y_%R')}" %></br>
						        <%= if contract.dperiod then 
						        	  "#{contract.dperiod} " +  
						        	  (case contract.dperiod when 1 then "день" when 2 then "дня" when 3 then "дня" when 4 then "дня" else "дней" end) end %></small></td>
							<td><small><%= f.input :parcurs, as: :integer, label: "по факту",:input_html => { :size => 10, :value => if contract.car.wlongs.last then "#{contract.car.wlongs.last.parcurs}" end, class: 'special-semieconom',style: 'width: 80px' } %></small></td>
							<td><%= contract.garant_summ %></td>
	 						<td><%= contract.price %></td>
							<td><%= submit_tag("Контракт", class: "btn btn-info  btn-xs") %></td>
						</tr>
					<% end %>							
				<% end %>
			</tbody>	
		</table>
		</div>
	<% end %>
	
	<% if @contracts_close_today.count != 0 then %>	
		<h4 style="color: blue" align="center">Контракты к закрытию на сегодня</h4>
		<div class="table-responsive">	
		<table id="b1" class="table table-bordered table-condensed table-hover  table-striped">
			<thead>
				<tr class="info">
					<th>No</th>
					<th>Автомобиль</th>
					<th>Клиент</th>
					<th>Агент</th>
					<th>Период</th>
					<th width="12%">Время окончания</th>
					<th width=10%>Пробег</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @contracts_close_today.each do |contract| %>
					<%= simple_form_for :contract,:url => {controller: "contracts", action: "contract2arh"} do |f|%>
					    <%= hidden_field_tag 'id', contract.id  %>
					    <tr>
							<td><%= link_to "#{contract.id}/#{contract.cnum}",  contract_path(contract) %></td>
							<td><%= if contract.car then "#{contract.car.marca} #{contract.car.gnum}" end %></td>
							<td><%= if contract.client then "#{contract.client.id} #{contract.client.sname} #{contract.client.name} #{contract.client.fname}" end %></td>
							<td><%= if contract.user then "#{contract.user.username}" end %></td>
							<td><small><%= "#{contract.stdate.strftime('%d.%m.%Y_%R')}" %></br><%= "#{contract.enddate.strftime('%d.%m.%Y_%R')}" %></br>
						        <%= if contract.dperiod then 
						        	  "#{contract.dperiod} " +  
						        	  (case contract.dperiod when 1 then "день" when 2 then "дня" when 3 then "дня" when 4 then "дня" else "дней" end) end %></small></td>
							<td><small><%= unless contract.enddate.nil? then " #{contract.enddate.strftime('%R')}" else "" end %>
							    <%= f.input :fendtime, as: :time , default: Time.parse(contract.enddate.strftime('%R')), label: "по факту", input_html: { class: 'special-econom' } %></small></td>
							<td><small><%= unless contract.car.wlongs.last.nil? then "#{contract.car.wlongs.last.parcurs}" else "" end %>
								<%= f.input :parcurs, as: :integer, label: "по факту",:input_html => { :size => 8, :maxlength => 6, :value => if contract.car.wlongs.last then "#{contract.car.wlongs.last.parcurs}" end, class: 'special-semieconom',style: 'width: 80px' } %></small></td>
							<td><%= submit_tag("Закрыть", class: "btn btn-info  btn-xs") %></td>
						</tr>
					<% end %> <!-- form_tag-->
				<% end %>  <!-- each -->
			</tbody>	
		</table>
		</div>	
	<% end %>	
			
	<h4 align="center">Текущие брони и контракты по машинам <% if @filter==1 then %><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><% end %></h4>
<!--	
	<nav class="navbar">
	  <ul class="nav nav-pills pull-left">
		<li><%= form_tag("/cars/smonth", method: "get", class: 'form-inline') do %>
	    	<div class="form-group">
			  <%= select_tag(:qmarca, options_for_select(@fmarcas, @qmarca), class: "form-control", prompt: "Марка...", include_blank: false, title: "Марка") %>
			  <%= submit_tag("Фильтр", class: "btn btn-primary", name: "filter", title: "фильтр") %>
			</div>
			<% end %>
		</li>
		<li><%= form_tag("/cars/smonth", method: "get", class: 'form-inline') do %>
	    	<div class="form-group">
			  <%= text_field_tag(:q, @data_for_search, placeholder: 'Enter your search query here', class: "form-control", title: "машина") %>
			  <%= submit_tag("Поиск", class: "btn btn-primary", name: "search", title: "поиск") %>
			</div>
			<% end %>
		</li>				    
	  </ul>  
	</nav>
-->		

	<div align="center">
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist" id="myTab">
		<% (1..12).each do |i| %>
			<% if @months[i-1] == @currentdate then %><li role="presentation" class="active" ><% else %><li role="presentation"><% end %>
			<a href="#<%= i %>" aria-controls="<%= i %>" role="tab" data-toggle="tab" class="label label-info">
		   <% if @months[i-1] == @currentdate then %><span class="badge"><% end %><%= "#{@months[i-1].to_formatted_s(:month_year)}" %><% if @months[i-1] == @currentdate then %></span><% end %></a></li>	
		<% end	%>	  	
	  </ul>	
	  <!-- Tab panes -->
	  <div class="tab-content">
	  	<% (1..12).each do |i| %>
		    <!-- one month table -->
		    <% titleitem = @title1[i-1] %>
		    <% reportitem = @report1[i-1] %>
		    <% daycount = titleitem.size - 2 %>
		    <div role="tabpanel" class="<%= if @months[i-1] == @currentdate then "tab-pane fade in active" else "tab-pane fade" end %>" id="<%= "#{i}" %>" >
		    	<br>		
				<div class="table-responsive">	
				<table class="table table-bordered table-condensed table-hover  table-striped">
					<thead>	
					<tr>
						<th><center>№</center></th>
						<th align="center"><center>Автомобиль</center></th>
						<% (0..(daycount-1)).each do |d| %>
							<th class=<%= case (titleitem[d+2]) when 2 then "warning" when 1 then "danger" else "" end %>>
							<center><font color=<%= case (titleitem[d+2]) when 2 then "orange" when 1 then "red" else "" end %>><%= d+1 %></font></center></th>
						<% end %>	
					</tr>
					</thead>
					<tbody>
						<% reportitem.each do |r| %>	
							<tr>
							<td><center><%= r[0] %></center></td>
							<td><%= link_to "#{r[1]}", edit_car_path(:id => r[daycount+2]) %></td>
							<% (0..(daycount-1)).each do |d| %>
								<td title="<%= if (r[d+2].nil?) then (@months[i-1]).change(day: (d+1)).to_formatted_s(:dday_month_year) else "#{r[d+2][:contract]}" end %>" 
									               id=<%= case when (!r[d+2].nil? and r[d+2][:flag]==1 and r[d+2][:beflag]=='b') then "grrbbroni"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==1 and r[d+2][:beflag]=='e') then "grlbbroni"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==1 and r[d+2][:beflag]=='be') then "bbroni"	
									               	           when (!r[d+2].nil? and r[d+2][:flag]==1 and !r[d+2][:beflag]) then "bbroni"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==2 and r[d+2][:beflag]=='b') then "grrccontract"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==2 and r[d+2][:beflag]=='e') then "grlccontract"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==2 and r[d+2][:beflag]=='be') then "ccontract"			 
									               	           when (!r[d+2].nil? and r[d+2][:flag]==2 and !r[d+2][:beflag]) then "ccontract"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==3 and r[d+2][:beflag]=='b') then "grrarccontract"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==3 and r[d+2][:beflag]=='e') then "grlarccontract"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==3 and r[d+2][:beflag]=='be') then "arccontract"	
									               	           when (!r[d+2].nil? and r[d+2][:flag]==3 and !r[d+2][:beflag]) then "arccontract" 
									               	           else "zzz" end %>  
								                   class=<%= case when (!r[d+2].nil? and r[d+2][:flag]==1) then "danger" 
									                              when (!r[d+2].nil? and r[d+2][:flag]==2) then "info" 
									                              when (!r[d+2].nil? and r[d+2][:flag]==3) then "success"
									                              when (titleitem[d+2]==1) then "danger"
									                              when (titleitem[d+2]==2) then "warning" 	 	 
									                              else "" end %>>
								<center>
						        <% graphcurdate = "#{(@months[i-1]).change(day: (d+1)).to_formatted_s(:dday_month_year)}" %>
						        <% graphcurcar = r[daycount+2] %>
						        <% graphstdate = (@months[i-1]).change(day: (d+1)) %>
						        <% graphcurlink0 = nil %>
						        <% graphcurlink1 = nil %>
							    <% graphcurlink2 = nil %>
								<% if !r[d+2].nil? then %>
								    <% graphcurcontract = r[d+2][:contract_id] %>	
									<% case when (r[d+2][:flag])==1 then 
									                   graphcurlink0 =  link_to r[d+2][:contract_idtext] , contracts_show_path(:id => graphcurcontract) 
									                   graphcurid =  "bbroni" 
									                   graphcurtext = "Б" %>
									<%      when (r[d+2][:flag])==2 then 
									                   graphcurlink0 =  link_to r[d+2][:contract_idtext], contracts_show_path(:id => graphcurcontract)
									                   graphcurid =  "ccontract"
									                   graphcurtext = "К" %>
									<%      when (r[d+2][:flag])==3 then 
									                   graphcurlink0 = r[d+2][:contract_idtext]
									                   graphcurid =  "rezerv" 
									                   graphcurtext = "X" %>
									<% end %>
									<% if r[d+2][:beflag]=='b' or r[d+2][:beflag]=='e' then %>
							            <% graphcurlink1 = link_to 'Бронь новая', contracts_newbroni_path(:car_id => graphcurcar, :stdate => graphstdate) %>
							            <% graphcurlink2 = link_to 'Контракт новый', contracts_new_path(:car_id => graphcurcar, :stdate => graphstdate) %>
						            <% end %>							
							    <% end %>
								<% if (r[d+2].nil?) then %>
								    <% graphcurid = "vacantc" %>
								    <% graphcurtext = "..." %>
						            <% graphcurlink0 = link_to 'Бронь новая', contracts_newbroni_path(:car_id => graphcurcar, :stdate => graphstdate) %>
						            <% graphcurlink1 = link_to 'Контракт новый', contracts_new_path(:car_id => graphcurcar, :stdate => graphstdate) %>								                                          
								<% end %>
				                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="auto"  data-html="true" id=<%= graphcurid %> title=<%= graphcurdate %> 
										data-content='<%= graphcurlink0 %><% if graphcurlink0 %></br><% end %>
										              <%= graphcurlink1 %><% if graphcurlink1 %></br><% end %>
										              <%= graphcurlink2 %><% if graphcurlink2 %></br><% end %>'><%= graphcurtext %></a>
								</center>
							    </td>
							<% end %>						
						<% end %>
					</tbody>
				</table>
				</div>	   	
		    </div>
		    <!-- end of one month table -->
	    <% end	%>              
	  </div>
	</div>
	</div>		
	
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>