<% provide(:title, 'График') %>

<% if !current_user.superadmin_role? && !current_user.supervisor_role? && !current_user.user_role? && current_user.nemo_role? %>
<div class="jumbotron">
  <h1>Привет, <span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>Немо!</h1>
  <p>Вы успешно залогинились.</p>
  <p>Теперь обратитесь к <span class="glyphicon glyphicon-king" aria-hidden="true"></span><strong>Администратору</strong> приложения для получения <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>водительских прав.</p>
</div>
<% end %>

<% if current_user.superadmin_role? || current_user.supervisor_role? || current_user.user_role? %>
	<% if @broni_today.count != 0 then %>	
		<h4 style="color: blue" align="center"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Брони в работу на сегодня</h4>
		<table id="b1" class="table table-bordered table-condensed table-hover table-striped dt-responsive nowrap compact" style="width:100%">
			<thead>
				<tr class="info">
					<th style="width:3%"></th>
					<th style="width:2%" class="all"></th>
					<th class="all" style="width:3%">No</th>
					<th class="all"></th>
					<th class="all">От</th>
					<th class="all">Автомобиль</th>
					<th>Клиент</th>
					<!-- <th class="none">Агент</th>	-->
				    <th>С даты</th>
				    <th>По дату</th>
				    <th>На срок</th>
					<th>Гар. сумма</th>
					<!--<th class="none">Цена, <% if $valuta.upcase=='EUR' then %>&euro;<% else %><%= "#{$valuta}" %><% end %></th>-->
				</tr>
			</thead>
			<tfoot>
				<tr class="info">
					<th style="width:3%"></th>
					<th style="width:2%" class="all"></th>
					<th class="all" style="width:3%">No</th>
					<th class="all"></th>
					<th class="all">От</th>
					<th class="all">Автомобиль</th>
					<th>Клиент</th>
					<!-- <th class="none">Агент</th>	-->
				    <th>С даты</th>
				    <th>По дату</th>
				    <th>На срок</th>
					<th>Гар. сумма</th>
					<!--<th class="none">Цена, <% if $valuta.upcase=='EUR' then %>&euro;<% else %><%= "#{$valuta}" %><% end %></th>-->
				</tr>
			</tfoot>			
			<tbody>			
				<% @broni_today.each do |contract| %>
						<tr>
							<td></td>
							<td></td>
							<td><%= link_to(("#{contract.id}" + if contract.cnum!='' then "/#{contract.cnum} " else " " end),  contract_path(contract)) %></td>
							<td><%= link_to("Контракт",  contracts_broni2contract_path(:id => contract.id), class: "btn btn-info btn-xs") %></td>
							<td><%= contract.stdate.strftime('%d.%m.%Y') %></td>
							<td><% unless contract.car.nil? then %><%= link_to "#{contract.car.marca} #{contract.car.gnum}" , cars_show_path(:id => contract.car.id),:method => :get, :title => 'Посмотреть авто' %><% end %></td>
							<td><% unless contract.client.nil? then %><%= link_to "#{contract.client.sname} #{contract.client.name} #{contract.client.fname} #{contract.client.tel} #{contract.client.pemail}" , edit_client_path(contract.client),:method => :get, :title => 'Редактировать клиента' %><% end %></td>
							<!-- <td><%= if contract.user then "#{contract.user.username}" end %></td>	-->
							<td><%= "#{contract.stdate.strftime('%d.%m.%Y %R')}" %></td>
							<td><%= "#{contract.enddate.strftime('%d.%m.%Y %R')}" %></td>
						    <td><%= if contract.dperiod then 
						        	  "#{contract.dperiod} " +  
						        	  (case contract.dperiod when 1 then "день" when 2 then "дня" when 3 then "дня" when 4 then "дня" else "дней" end) end %></td>
							<td><%= contract.garant_summ %></td>
	 						<!--<td><%= contract.price %></td>-->
						</tr>							
				<% end %>
			</tbody>	
		</table>
	<% end %>
	
    <% if @broni_tomorrow.count != 0 then %>	
		<h4 style="color: blue" align="center"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Брони в работу на завтра</h4>
		<table id="b2" class="table table-bordered table-condensed table-hover table-striped dt-responsive nowrap compact" style="width:100%">
			<thead>
				<tr class="info">
					<th style="width:3%"></th>
					<th style="width:2%" class="all"></th>
					<th class="all" style="width:3%">No</th>
					<th class="all"></th>
					<th class="all">От</th>
					<th class="all">Автомобиль</th>
					<th>Клиент</th>
					<!-- <th class="none">Агент</th>	-->
				    <th>С даты</th>
				    <th>По дату</th>
				    <th>На срок</th>
					<th>Гар. сумма</th>
					<!--<th class="none">Цена, <% if $valuta.upcase=='EUR' then %>&euro;<% else %><%= "#{$valuta}" %><% end %></th>-->
				</tr>
			</thead>
			<tfoot>
				<tr class="info">
					<th style="width:3%"></th>
					<th style="width:2%" class="all"></th>
					<th class="all" style="width:3%">No</th>
					<th class="all"></th>
					<th class="all">От</th>
					<th class="all">Автомобиль</th>
					<th>Клиент</th>
					<!-- <th class="none">Агент</th>	-->
				    <th>С даты</th>
				    <th>По дату</th>
				    <th>На срок</th>
					<th>Гар. сумма</th>
					<!--<th class="none">Цена, <% if $valuta.upcase=='EUR' then %>&euro;<% else %><%= "#{$valuta}" %><% end %></th>-->
				</tr>
			</tfoot>
			<tbody>			
				<% @broni_tomorrow.each do |contract| %>
						<tr>
							<td></td>
							<td></td>
							<td><%= link_to(("#{contract.id}" + if contract.cnum!='' then "/#{contract.cnum} " else " " end),  contract_path(contract)) %></td>
							<td><%= link_to("Контракт",  contracts_broni2contract_path(:id => contract.id), class: "btn btn-info btn-xs") %></td>
							<td><%= contract.stdate.strftime('%d.%m.%Y') %></td>
							<td><% unless contract.car.nil? then %><%= link_to "#{contract.car.marca} #{contract.car.gnum}" , cars_show_path(:id => contract.car.id),:method => :get, :title => 'Посмотреть авто' %><% end %></td>
							<td><% unless contract.client.nil? then %><%= link_to "#{contract.client.sname} #{contract.client.name} #{contract.client.fname} #{contract.client.tel} #{contract.client.pemail}" , edit_client_path(contract.client),:method => :get, :title => 'Редактировать клиента' %><% end %></td>
							<!-- <td><%= if contract.user then "#{contract.user.username}" end %></td>	-->
							<td><%= "#{contract.stdate.strftime('%d.%m.%Y %R')}" %></td>
							<td><%= "#{contract.enddate.strftime('%d.%m.%Y %R')}" %></td>
						    <td><%= if contract.dperiod then 
						        	  "#{contract.dperiod} " +  
						        	  (case contract.dperiod when 1 then "день" when 2 then "дня" when 3 then "дня" when 4 then "дня" else "дней" end) end %></td>
							<td><%= contract.garant_summ %></td>
	 						<!--<td><%= contract.price %></td>-->
						</tr>								
				<% end %>
			</tbody>	
		</table>
	<% end %>
	
	<% if @contracts_close_today.count != 0 then %>	
		<h4 style="color: blue" align="center"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Контракты к закрытию на сегодня</h4>
		<table id="b3" class="table table-bordered table-condensed table-hover table-striped dt-responsive nowrap compact" style="width:100%">
			<thead>
				<tr class="info">
					<th style="width:3%"></th>
					<th style="width:2%" class="all"></th>
					<th class="all" style="width:3%">No</th>
					<th class="all"></th>
					<th class="all">От</th>
					<th class="all">Автомобиль</th>
					<th>Клиент</th>
					<!-- <th>Агент</th>	-->
				    <th>С даты</th>
				    <th>По дату</th>
				    <th>На срок</th>
				    <th>Залог</th>
				</tr>
			</thead>
			<tfoot>
				<tr class="info">
					<th style="width:3%"></th>
					<th style="width:2%" class="all"></th>
					<th class="all" style="width:3%">No</th>
					<th class="all"></th>
					<th class="all">От</th>
					<th class="all">Автомобиль</th>
					<th>Клиент</th>
					<!-- <th>Агент</th>	-->
				    <th>С даты</th>
				    <th>По дату</th>
				    <th>На срок</th>
				    <th>Залог</th>
				</tr>
			</tfoot>			
			<tbody>
				<% @contracts_close_today.each do |contract| %>
					    <tr>
					    	<td></td>
					    	<td></td>
							<td><%= link_to(("#{contract.id}" + if contract.cnum!='' then "/#{contract.cnum} " else " " end),  contract_path(contract)) %></td>
							<td><%= link_to("Закрыть",  contracts_contract2arh_path(:id => contract.id), class: "btn btn-info btn-xs") %></td>
							<td><%= contract.stdate.strftime('%d.%m.%Y') %></td>	
							<td><% unless contract.car.nil? then %><%= link_to "#{contract.car.marca} #{contract.car.gnum}" , cars_show_path(:id => contract.car.id),:method => :get, :title => 'Посмотреть авто' %><% end %></td>
							<td><% unless contract.client.nil? then %><%= link_to "#{contract.client.sname} #{contract.client.name} #{contract.client.fname} #{contract.client.tel} #{contract.client.pemail}" , edit_client_path(contract.client),:method => :get, :title => 'Редактировать клиента' %><% end %></td>
							<!-- <td><%= if contract.user then "#{contract.user.username}" end %></td>	-->
							<td><%= "#{contract.stdate.strftime('%d.%m.%Y %R')}" %></td>
							<td><%= "#{contract.enddate.strftime('%d.%m.%Y %R')}" %></td>
						    <td><%= if contract.dperiod then 
						        	  "#{contract.dperiod} " +  
						        	  (case contract.dperiod when 1 then "день" when 2 then "дня" when 3 then "дня" when 4 then "дня" else "дней" end) end %></td>
							<td><%= contract.zalog %></td>
						</tr>
				<% end %>  <!-- each -->
			</tbody>	
		</table>
	<% end %>	
			
	<h4 align="center"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Текущие брони и контракты по машинам <% if @filter==1 then %><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><% end %></h4>
	
	<div align="center">
	<div>
	  <ul class="nav nav-pills nav-justified">
	  	<% (1..12).each do |i| %>
		    <li>
		    	<%= link_to("#{@months[i-1].to_formatted_s(:month_year)}",root_path(:imonth => i), class: "btn btn-#{if i == @imonth then 'info' else 'default' end} #{if @months[i-1] == @currentdate then 'glyphicon glyphicon-map-marker' end}") %>
		    </li>
	    <% end	%>    
	  </ul><br />
	  </div>		  		
	  <!-- Tables -->
	  	<% (@imonth..@imonth).each do |i| %>
		    <!-- one month table -->
		    <% titleitem = @title1[i-1] %>
		    <% reportitem = @report1[i-1] %>
		    <% daycount = titleitem.size - 2 %>
				<table id="b5" class="table table-bordered table-condensed table-hover table-striped compact">
					<thead>		
					<tr class="info">
					    <th style="max-width:2px" align="center" class="teconom"><center>№</center></th>
						<th align="center" style="padding-right:0" class="teconom"><center>Автомобиль</center></th> 						
						<% (0..(daycount-1)).each do |d| %>
							<th  style="max-width:3px" class=<%= case (titleitem[d+2]) when 2 then "warning" when 1 then "danger" else "" end %>>
							<center><font color=<%= case (titleitem[d+2]) when 2 then "orange" when 1 then "red" else "" end %>><%= d+1 %></font></center></th>
						<% end %>	
					</tr>
					</thead>
					<tfoot>	
					<tr class="info">
					    <th style="max-width:2px" align="center" class="teconom"><center>№</center></th>
						<th align="center" class="teconom"><center>Автомобиль</center></th>
						<% (0..(daycount-1)).each do |d| %>
							<th class=<%= case (titleitem[d+2]) when 2 then "warning" when 1 then "danger" else "" end %>>
							<center><font color=<%= case (titleitem[d+2]) when 2 then "orange" when 1 then "red" else "" end %>><%= d+1 %></font></center></th>
						<% end %>	
					</tr>
					</tfoot>					
					<tbody>
						<% reportitem.each do |r| %>	
							<tr>
						    <td class="teconom"><center><%= r[0] %></center></td>
							<td class="teconom"><%= link_to "#{r[1]}", cars_show_path(:id => r[daycount+2]) %></td>
							<% (0..(daycount-1)).each do |d| %>
								<td title="<%= if (r[d+2].nil?) then (@months[i-1]).change(day: (d+1)).to_formatted_s(:dday_month_year) else "#{r[d+2][:contract]}" end %>" 
									               id=<%= case when (!r[d+2].nil? and r[d+2][:flag]==1 and r[d+2][:beflag]=='b') then "grrbbroni"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==1 and r[d+2][:beflag]=='e') then "grlbbroni"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==1 and r[d+2][:beflag]=='be') then "bbroni"	
									               	           when (!r[d+2].nil? and r[d+2][:flag]==1 and !r[d+2][:beflag]) then "bbroni"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==2 and r[d+2][:beflag]=='b') then "grrccontract"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==2 and r[d+2][:beflag]=='e') then "grlccontract"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==2 and r[d+2][:beflag]=='be') then "ccontract"			 
									               	           when (!r[d+2].nil? and r[d+2][:flag]==2 and !r[d+2][:beflag]) then "ccontract"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==3 and r[d+2][:beflag]=='b') then "grrarccontract"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==3 and r[d+2][:beflag]=='e') then "grlarccontract"
									               	           when (!r[d+2].nil? and r[d+2][:flag]==3 and r[d+2][:beflag]=='be') then "arccontract"	
									               	           when (!r[d+2].nil? and r[d+2][:flag]==3 and !r[d+2][:beflag]) then "arccontract" 
									               	           else "zzz" end %>  
								                   class=<%= case when (!r[d+2].nil? and r[d+2][:flag]==1) then "danger" 
									                              when (!r[d+2].nil? and r[d+2][:flag]==2) then "info" 
									                              when (!r[d+2].nil? and r[d+2][:flag]==3) then "success"
									                              when (titleitem[d+2]==1) then "danger"
									                              when (titleitem[d+2]==2) then "warning" 	 	 
									                              else "" end %>>
								<center>
						        <% graphcurdate = "#{(@months[i-1]).change(day: (d+1)).to_formatted_s(:dday_month_year)}" %>
						        <% graphcurcar = r[daycount+2] %>
						        <% graphstdate = (@months[i-1]).change(day: (d+1)) %>
						        <% graphcurlink0 = nil %>
						        <% graphcurlink1 = nil %>
							    <% graphcurlink2 = nil %>
								<% if !r[d+2].nil? then %>
								    <% graphcurcontract = r[d+2][:contract_id] %>	
									<% case when (r[d+2][:flag])==1 then 
									                   graphcurlink0 =  link_to r[d+2][:contract_idtext] , contracts_show_path(:id => graphcurcontract) 
									                   graphcurid =  "bbroni" 
									                   graphcurtext = "Б" %>
									<%      when (r[d+2][:flag])==2 then 
									                   graphcurlink0 =  link_to r[d+2][:contract_idtext], contracts_show_path(:id => graphcurcontract)
									                   graphcurid =  "ccontract"
									                   graphcurtext = "К" %>
									<%      when (r[d+2][:flag])==3 then 
									                   graphcurlink0 = r[d+2][:contract_idtext]
									                   graphcurid =  "rezerv" 
									                   graphcurtext = "X" %>
									<% end %>
									<% if r[d+2][:beflag]=='b' or r[d+2][:beflag]=='e' then %>
							            <% graphcurlink1 = link_to 'Бронь новая', contracts_newbroni_path(:car_id => graphcurcar, :stdate => graphstdate) %>
							            <% graphcurlink2 = link_to 'Контракт новый', contracts_new_path(:car_id => graphcurcar, :stdate => graphstdate) %>
						            <% end %>							
							    <% end %>
								<% if (r[d+2].nil?) then %>
								    <% graphcurid = "vacantc" %>
								    <% graphcurtext = "...." %>
						            <% graphcurlink0 = link_to 'Бронь новая', contracts_newbroni_path(:car_id => graphcurcar, :stdate => graphstdate) %>
						            <% graphcurlink1 = link_to 'Контракт новый', contracts_new_path(:car_id => graphcurcar, :stdate => graphstdate) %>								                                          
								<% end %>
				                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="auto"  data-html="true" id=<%= graphcurid %> title=<%= graphcurdate %> 
										data-content='<%= graphcurlink0 %><% if graphcurlink0 %></br><% end %>
										              <%= graphcurlink1 %><% if graphcurlink1 %></br><% end %>
										              <%= graphcurlink2 %><% if graphcurlink2 %></br><% end %>'><%= graphcurtext %></a>
								</center>
							    </td>
							<% end %>						
						<% end %>
					</tbody>					
				</table>
		    <!-- end of one month table -->
	    <% end	%>	
</div>	
<% end %>

<script>
$(document).ready(function() {
    var t = $('#b1').DataTable( {
        "order": [[ 2, "asc" ],[ 4, "asc" ]],
        "language": {
            "lengthMenu": "Отображать _MENU_ строк на странице",
            "zeroRecords": "Ничего не найдено - увы...",
            "info": "Страница _PAGE_ из _PAGES_",
            "infoEmpty": "Нет доступных строк",
            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
            "search": "Поиск",
             paginate: {
                first:      "<<",
                previous:   "<",
                next:       ">",
                last:       ">>"
            }
        },
        paging:         false,
        searching:         false,
        info:           false,  
         responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
            }, {
            "searchable": false,
            "orderable": false,
            "targets": [1,3]
            },
         { type: 'de_datetime', targets: [7,8] },
         { type: 'de_date', targets: 4 }
         ]  
    } ); 
    
    
    
    t.on( 'order.dt search.dt', function () {
        t.column(1, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();       
   
    var t = $('#b3').DataTable( {
        "order": [[ 2, "asc" ],[ 4, "asc" ]],
        "language": {
            "lengthMenu": "Отображать _MENU_ строк на странице",
            "zeroRecords": "Ничего не найдено - увы...",
            "info": "Страница _PAGE_ из _PAGES_",
            "infoEmpty": "Нет доступных строк",
            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
            "search": "Поиск",
             paginate: {
                first:      "<<",
                previous:   "<",
                next:       ">",
                last:       ">>"
            }
        },
        paging:         false,
        searching:      false,
        info:           false,  
         responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
            }, {
            "searchable": false,
            "orderable": false,
            "targets": [1,3]
            },
         { type: 'de_datetime', targets: [7,8] },
         { type: 'de_date', targets: 4 }
         ]      
    } ); 


    $('[data-toggle="popover"]').popover(); 
   
	$('#b5').dataTable( {
			"language": {
	            "lengthMenu": "Отображать _MENU_ строк на странице",
	            "zeroRecords": "Ничего не найдено - увы...",
	            "info": "Страница _PAGE_ из _PAGES_",
	            "infoEmpty": "Нет доступных строк",
	            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
	            "search": "Поиск",
	             paginate: {
	                first:      "<<",
	                previous:   "<",
	                next:       ">",
	                last:       ">>"
	            }
	        },
		  "ordering": false,
		  "paging":   false,
		  "info":     false,
          "fixedHeader": {
               headerOffset: ($('#navMenu').outerHeight() - 1)
          },
           columnDefs: [{
            "searchable": false,
            "orderable": false,
            "targets": 0
            }]
	} );  
     
    t.on( 'order.dt search.dt', function () {
        t.column(1, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();  

    var t = $('#b2').DataTable( {
        "order": [[ 2, "asc" ],[ 4, "asc" ]],
        "language": {
            "lengthMenu": "Отображать _MENU_ строк на странице",
            "zeroRecords": "Ничего не найдено - увы...",
            "info": "Страница _PAGE_ из _PAGES_",
            "infoEmpty": "Нет доступных строк",
            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
            "search": "Поиск",
             paginate: {
                first:      "<<",
                previous:   "<",
                next:       ">",
                last:       ">>"
            }
        },
        paging:         false,
        searching:      false,
        info:           false,  
         responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
            }, {
            "searchable": false,
            "orderable": false,
            "targets": [1,3]
            },
         { type: 'de_datetime', targets: [7,8] },
         { type: 'de_date', targets: 4 }
         ]  
    } ); 
        
      
    t.on( 'order.dt search.dt', function () {
        t.column(1, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw(); 
    
} );

</script>


	