<% provide(:title, 'График') %>

	<% if @fl == 1%>	
		<h4 style="color: blue" align="center">Брони в работу на сегодня</h4>
		<table id="b1" class="table table-bordered table-condensed table-hover">
			<thead>
				<tr>
					<th>No</th>
					<th>Автомобиль</th>
					<th>Дата начала</th>
					<th>Время начала</th>
					<th>Дата окончания</th>
					<th>Время окончания</th>
					<th>Агент</th>
					<th>Пробег</th>
					<th>Гарантийная сумма</th>
					<th>Сумма договора</th>
					<th></th>
				</tr>
			</thead>
			<tbody>			
				<% @cars.each do |mobil| %>
					<% mobil.contracts.each do |con|%>		
						<% if con.order_date.to_date == Date.today.to_date %>
						    <% if con.flag == 1%>
						        <%= form_tag '/rez_to_contract' do %>
									<tr>
									<td><%= con.id %></td>
									<td><%= mobil.marca + " " + mobil.gnum%></td>
									<td><%= Date.today.to_date.strftime("%d.%m.%Y") %></td>
									<td><%= text_field_tag 'sttime', Time.now.strftime('%R') %></td>
									<td><%= text_field_tag 'enddate', con.diff %></td>
									<td><%= text_field_tag 'endtime', Time.now.strftime('%R') %></td>
									<td><%= con.user %></td>
									<td><a style="color: red"><%= text_field_tag 'wlong', if mobil.wlongs.last then mobil.wlongs.last.wlong end %></a></td>
	 							    <td><%= text_field_tag 'garant_summ',con.garant_summ,:class=>"cost_tag" %></td>
	        						<%= hidden_field_tag 'contrid', con.id  %>
								    <td><%= text_field_tag 'summ',con.summ,:class=>"cost_tag" %></td>
								    <td><%= submit_tag("Открыть", class: "btn btn-primary") %></td>
								    </tr>
								<% end %>						
							<% end %>
						<% end %>
					<% end %>	
				<% end %>
			</tbody>	
		</table>
	<% end %>
	
	<% if @fl2 == 1 %>	
		<h4 style="color: blue" align="center">Брони в работу на завтра</h4>
		<table id="b1" class="table table-bordered table-condensed table-hover">
			<thead>
				<tr>
					<th>No</th>
					<th>Автомобиль</th>
					<th>Дата начала</th>
					<th>Время начала</th>
					<th>Дата окончания</th>
					<th>Время окончания</th>
					<th>Агент</th>
					<th>Пробег</th>
					<th>Гарантийная сумма</th>
					<th>Сумма договора</th>
					<th></th>
				</tr>
			</thead>
			<tbody>			
				<% @cars.each do |mobil| %>
					<% mobil.contracts.each do |con|%>		
						<% if con.order_date.to_date == Date.tomorrow.to_date %>
						    <% if con.flag == 1%>
						        <%= form_tag '/rez_to_contract' do %>
									<tr>
									<td><%= con.id %></td>
									<td><%= mobil.marca + " " + mobil.gnum%></td>
									<td><%= Date.today.to_date.strftime("%d.%m.%Y") %></td>
									<td><%= text_field_tag 'sttime', Time.now.strftime('%R') %></td>
									<td><%= text_field_tag 'enddate', con.diff %></td>
									<td><%= text_field_tag 'endtime', Time.now.strftime('%R') %></td>
									<td><%= con.user %></td>
									<td><a style="color: red"><%= text_field_tag 'wlong', if mobil.wlongs.last then mobil.wlongs.last.wlong end %></a></td>
	 							    <td><%= text_field_tag 'garant_summ',con.garant_summ,:class=>"cost_tag" %></td>
	        						<%= hidden_field_tag 'contrid', con.id  %>
								    <td><%= text_field_tag 'summ',con.summ,:class=>"cost_tag" %></td>
								    <td><%= submit_tag("Открыть", class: "btn btn-primary") %></td>
								    </tr>
								<% end %>						
							<% end %>
						<% end %>
					<% end %>	
				<% end %>
			</tbody>	
		</table>
	<% end %>	
			
	<% if @fl1 == 2%>	
		<h4 style="color: blue" align="center">Контракты к закрытию на сегодня</h4>
		<table id="b1" class="table table-bordered table-condensed table-hover">
			<thead>
				<tr>
					<th>No</th>
					<th>Автомобиль</th>
					<th>Дата начала</th>
					<th>Дата окончания</th>
					<th>Время окончания</th>
					<th>Пробег</th>
					<th>Агент</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @cars.each do |mobil| %>
					<% mobil.contracts.each do |con|%>
						<% if con.diff.to_date == Date.today.to_date %>
							<% if con.flag == 2%>
								<%= form_tag '/contract_to_arh' do %>
									<%= hidden_field_tag 'contrfid', con.id  %>
									<tr>
									<td><%= link_to con.id,  contract_path(con,:format => "doc")%></td>
									<td><%= mobil.marca + " " + mobil.gnum%></td>
									<td><%= con.order_date.to_date.strftime("%d.%m.%Y") %></td>
									<td><%= con.diff %></td>
									<td><%= text_field_tag "fendtime",Time.now.strftime('%R'),:class=>"cost_tag"  %></td>
									<td><a  style="color: red"><%= text_field_tag 'wlongend', if mobil.wlongs.last then mobil.wlongs.last.wlong end	%></a></td>
							        <td><%= con.user %></td>
									<td><%= submit_tag("Закрыть", class: "btn btn-primary") %></td>
									</tr>
								<% end %>
							<% end %>
						<% end %> 
					<% end %>	
				<% end %>
			</tbody>	
		</table>	
	<% end %>
			
	<h4 align="center">Текущие брони и контракты по машинам <% if @filter==1 then %><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><% end %></h4>
	
	<nav class="navbar">
	  <ul class="nav nav-pills pull-left">
		<li><%= form_tag("/cars/smonth", method: "get", class: 'form-inline') do %>
	    	<div class="form-group">
			  <%= select_tag(:qmarca, options_for_select(@fmarcas, @qmarca), class: "form-control", prompt: "Марка...", include_blank: false, title: "Марка") %>
			  <%= submit_tag("Фильтр", class: "btn btn-primary", name: "filter", title: "фильтр") %>
			</div>
			<% end %>
		</li>
		<li><%= form_tag("/cars/smonth", method: "get", class: 'form-inline') do %>
	    	<div class="form-group">
			  <%= search_field_tag(:q, @data_for_search, placeholder: 'Enter your search query here', class: "form-control", title: "машина", size: "20x1") %>
			  <%= submit_tag("Поиск", class: "btn btn-primary", name: "search", title: "поиск") %>
			</div>
			<% end %>
		</li>				    
	  </ul>  
	</nav>
		
	<div align="center">
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist" id="myTab">
		<% (1..12).each do |i| %>
			<% if @months[i-1] == @currentdate then %><li role="presentation" class="active"><% else %><li role="presentation"><% end %>
			<a href="#<%= i %>" aria-controls="<%= i %>" role="tab" data-toggle="tab" class="label label-info">
		   <% if @months[i-1] == @currentdate then %><span class="badge"><% end %><%= "#{@months[i-1].to_formatted_s(:month_year)}" %><% if @months[i-1] == @currentdate then %></span><% end %></a></li>	
		<% end	%>	  	
	  </ul>	
	  <!-- Tab panes -->
	  <div class="tab-content">
	  	<% (1..12).each do |i| %>
		    <!-- one month table -->
		    <% titleitem = @title1[i-1] %>
		    <% reportitem = @report1[i-1] %>
		    <% daycount = titleitem.size - 2 %>
		    <div role="tabpanel" class="<%= if @months[i-1] == @currentdate then "tab-pane fade in active" else "tab-pane fade" end %>" id="<%= "#{i}" %>" >
		    	<br>		
				<div class="table-responsive">	
				<table class="table table-bordered table-condensed table-hover">
					<thead>	
					<tr>
						<th><center>№</center></th>
						<th align="center"><center>Автомобиль</center></th>
						<% (0..(daycount-1)).each do |d| %>
							<th class=<%= case (titleitem[d+2]) when 2 then "warning" when 1 then "danger" else "" end %>>
							<center><font color=<%= case (titleitem[d+2]) when 2 then "orange" when 1 then "red" else "" end %>><%= d+1 %></font></center></th>
						<% end %>	
					</tr>
					</thead>
					<tbody>
						<% reportitem.each do |r| %>	
							<tr>
							<td><center><%= r[0] %></center></td>
							<td><%= link_to "#{r[1]}", car_path(r[daycount+2]) %></td>
							<% (0..(daycount-1)).each do |d| %>
								<td title="<%= (@months[i-1]).change(day: (d+1)).to_formatted_s(:dday_month_year) %>" 
									               id=<%= case when (r[d+2]==1) then "bbroni" when (r[d+2]==2) then "ccontract" else "zzz" end %>  
								                   class=<%= case when (r[d+2]==1) then "danger" 
									               when (r[d+2]==2) then "info" 
									               when (r[d+2]==3) then "success"
									               when (titleitem[d+2]==1) then "danger"
									               when (titleitem[d+2]==2) then "warning" 	 	 
									               else "" end %>>
								<center>
								<% case (r[d+2]) when 1 then %><b><%= link_to "Б" , '#', id: "bbroni" %></b>
								<%               when 2 then %><b><%= link_to "К", '#', id: "ccontract" %></b>
								<%               when 3 then %><b><%= link_to "X", '#', id: "rezerv" %></b>
								<% end %>
								</center>
							    </td>
							<% end %>						
						<% end %>
					</tbody>
				</table>
				</div>	   	
		    </div>
		    <!-- end of one month table -->
	    <% end	%>              
	  </div>
	</div>		

<% unless @mn.nil? then %>
<script>   $(function () {$('#myTab a[href="#<%= @mn %>"]').tab('show'); }) </script>
<% end %>

