  <% unless current_user.nil? then %>
	 <ul class="nav nav-pills pull-left">
	 	<% if (controller.controller_name == 'clients' and (controller.action_name == 'new' or controller.action_name == 'edit')) or (controller.controller_name == 'contracts' and controller.action_name == 'edit') then %>
	 		<li><%= link_to "Назад", clients_path, :class => "glyphicon glyphicon-level-up" %></li>
	 	<% end %>
	 	<% if controller.controller_name == 'clients' and (controller.action_name == 'index') then %>
	 		<li><%= link_to "Новый клиент", clients_new_path, :class => "glyphicon glyphicon-user" %></li>
	 	<% end %>
	 	<li><%= link_to "Домой", cars_smonth_path, :class => "glyphicon glyphicon-home" %></li>
	    <li><%= link_to 'Клиенты', clients_path, :class => "glyphicon glyphicon-user" %></li>
	    <li><%= link_to 'ТО авто', car_autotech_path, :class => "glyphicon glyphicon-wrench" %></li>
	    <li><%= link_to 'Бронь', car_rez_path, :class => "glyphicon glyphicon-flag" %></li> 
	    <li><%= link_to 'Новый контракт',car_contractnew_path, :class => "glyphicon glyphicon-file" %></li>
	    <li><%= link_to 'Курс',cparams_show_path, :class => "glyphicon glyphicon-euro" %></li>    
	  </ul>  
 <% end %>	