  <div class="well sidebar-nav">
   	<ul class="nav nav-list"> 	  		
	    <li><%= link_to 'Клиенты', clients_path, :class => "glyphicon glyphicon-level-up" %></li>
	    <li><%= link_to 'ТО авто', car_autotech_path, :class => "glyphicon glyphicon-info-sign" %></li>
	    <li><%= link_to 'Бронь', car_rez_path, :class => "glyphicon glyphicon-info-sign" %></li> 
	    <li><%= link_to 'Новый контракт',car_contractnew_path, :class => "glyphicon glyphicon-info-sign" %></li>
	    <li><%= link_to 'Курс',cparams_show_path, :class => "glyphicon glyphicon-info-sign" %></li> 
    </ul>
  </div>   <!-- /well -->		