<!DOCTYPE html>
<html>
<head>
	<% javascript_include_tag "vendor/modernizr" %>
  <title>Auto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	
	<li class="has-form">
  	<div class="large-4 small-3 columns">
      
 		<p class="notice"><%= notice %></p>
 		<p class="alert"><%= alert %></p>
		<div class="small-6 large-centered columns">
 		<% if user_signed_in? %>
  			<li>
 				<p style="color:red"><%= current_user.username %></p>
  				<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  			</li>
	
		<% end %>
	    </div>
	</div>
  
    </div>
    <div class="large-8 small-9 columns">
        </div>
    
  </div>
</li>
	 
<%= yield %>

</body>
</html>
